openapi: 3.0.2
info:
  title: fincode API 中文参考
  description: '这是 fincode 的 API 参考文档。

    fincode 除支付信息外还能够管理多种资源，因此其 API 采用面向资源的 REST 接口设计。

    调用 API 时必须使用 API Key 进行认证。发送请求时，请在 `Authorization` 请求头中设置有效的 API Key。'
  version: 1.4.0
  x-translation:
    language: zh-CN
    method: manual
    source: https://docs.fincode.jp/assets/api/fincode-openapi.yml
    disclaimer: 中文仅供开发参考；如有歧义，以 fincode 官方日文文档为准。
servers:
- url: https://api.fincode.jp
  description: 生产环境
- url: https://api.test.fincode.jp
  description: 测试环境
tags:
- name: 字符编码
  description: 'fincode 的请求与响应统一使用 UTF-8 字符编码。


    | 字符编码 | 备注 |

    | --- | --- |

    | UTF-8 | fincode 的请求与响应统一使用 UTF-8 字符编码。 |'
  x-trailTag: true
- name: 请求头
  description: '调用 fincode API 时可指定以下请求头。


    | 请求头 | 指定方式 | 说明 |

    | --- | --- | --- |

    | `Api-Version` | YYYYMMDD | 可指定 API 的次要版本（当前为 `20211001`）。未指定时自动使用最新版本。 |

    | `Authorization` | Bearer {{API Key}} <br />或 Basic {{Base64 编码后的 API Key}} | 指定 API Key。支持 Bearer 认证或 Basic 认证。 |

    | `Content-Type` | application/json;charset=UTF-8 | 指定请求体的 Content-Type。 |

    | `idempotent_key` | UUID v4 | 用于保证请求幂等性的键。详情参见“幂等处理”。 |

    | `Tenant-Shop-Id` | 租户商户的商户 ID | 仅限平台功能。平台商户以租户商户身份执行 API（例如处理该租户商户的支付）时，指定对应租户的商户 ID。 |'
- name: 分页
  description: '为避免一次返回大量数据，列表查询类 API 实现了分页功能。

    当目标数据达到 10 条或以上时，默认最多返回 10 条。

    如需获取后续数据或一次获取 10 条以上的数据，可通过查询参数指定 `page` 和 `limit`。

    还可以使用查询条件缩小数据范围；可用的查询字段因 API 而异。


    | No | 项目 | 参数 | 含义 | 默认值 | 范围 | 处理规则 |

    |----|------|------|------|--------|------|----------|

    | 1 | 获取条数 | limit | 每页最大条数 | 10 | 10-100 | 未指定时使用默认值。超出范围时返回错误。 |

    | 2 | 页码 | page | 页码 | 1 | 1-9999 | 未指定时使用默认值。指定的数字大于响应中的 `last_page`（最后一页）时返回错误。 |

    | 3 | 仅总数标志 | count_only | 仅获取总条数 | false | - | 指定为 true 时，响应只返回符合条件的记录总数。 |

    | 4 | 排序 | sort | 定义排序顺序 | 各 API 的默认值 | - | 格式为 `sort=字段1 [asc \| desc], 字段2 [asc \| desc], …`。例如：`sort=customer_id asc,
    customer_name asc, customer_email desc`。未指定时使用各 API 的默认排序。字段不存在或格式错误时返回错误。`count_only` 为 true 时忽略此参数。 |


    ### 示例 1


    使用[客户列表查询 API](https://docs.fincode.jp/api#tag/%E9%A1%A7%E5%AE%A2/operation/retrieveCustomerList)，按客户 ID 升序获取第 2 页数据：


    ```txt

    https://api.test.fincode.jp/v1/customers?page=2&sort=id asc

    ```


    ### 示例 2


    使用[客户列表查询 API](https://docs.fincode.jp/api#tag/%E9%A1%A7%E5%AE%A2/operation/retrieveCustomerList)，通过查询条件将创建日期限定为 2023/06/28，并获取第
    2 页数据：


    ```txt

    https://api.test.fincode.jp/v1/customers?page=2&created_from=2023/06/28&created_to=2023/06/28

    ```


    ### 示例 3


    使用[客户列表查询 API](https://docs.fincode.jp/api#tag/%E9%A1%A7%E5%AE%A2/operation/retrieveCustomerList)，仅获取客户总数：


    ```txt

    https://api.test.fincode.jp/v1/customers?count_only=true

    ```'
- name: 幂等处理
  description: '商户可以在 API 请求头 `idempotent_key` 中设置任意的幂等键，以唯一标识一次请求；此后使用相同幂等键发送请求时，将返回与首次请求相同的结果。

    使用此功能可以避免因重复请求而误创建相同资源。


    请使用 UUID v4 格式，并确保每次新请求使用唯一值。

    幂等键的有效期为 30 分钟。


    ### 示例


    ```txt

    idempotent_key: 1003d6af-9e68-4f4e-a916-663e29db5377

    ```'
- name: 错误对象
  description: "发生 HTTP `4xx` 或 `5xx` 错误时，API 会返回统一格式的错误对象。\n`error_message` 表示错误原因，请根据其内容修正请求。\n注意：`error_message` 可能在不事先通知的情况下变更，仅用于协助开发阶段排查问题。\n\
    \n详细信息也可参阅 [Docs 错误码一览](https://docs.fincode.jp/develop_support/error)。\n\n### 示例\n\n错误对象以数组形式放在响应的 `errors` 字段中。\n\n\
    ```json\n{\n    \"errors\": [\n        {\n            \"error_code\": \"E123456789\",\n            \"error_message\":\
    \ \"错误内容 1\"\n        },\n        {\n            \"error_code\": \"E012345678\",\n            \"error_message\": \"错误内容\
    \ 2\"\n        }\n    ]\n}\n```\n\n| 参数 | | 说明 |\n| --- | --- | --- |\n| errors | | 错误对象数组。 |\n| | error_code | 错误码。程序需要判断错误类型时，建议使用此字段。详情参阅\
    \ [Docs > 错误码一览](https://docs.fincode.jp/develop_support/error)。 |\n| | error_message | 错误消息，用于说明错误内容。此值可能在不事先通知的情况下变更。\
    \ |"
- name: 错误
  description: 'API 请求完成后，会随响应返回以下 HTTP 状态码。


    | 状态码 | 含义 | 说明 |

    | --- | --- | --- |

    | 200 | OK | 请求成功。 |

    | 400 | Bad Request | 请求无效。请检查请求参数与 JSON 格式。 |

    | 401 | Unauthorized | 尚未通过认证。请检查 API Key。 |

    | 403 | Forbidden | 没有使用该 API 的权限。请检查访问地址；也可能是超过流量限制，请降低请求速率。 |

    | 404 | Not Found | 指定的 API 不存在。请检查访问地址。 |

    | 405 | Method Not Allowed | 使用了无效的 HTTP 方法。请检查 HTTP 方法。 |

    | 406 | Not Acceptable | 请求的资源只能生成客户端无法接受的内容。请检查 `Accept` 请求头。 |

    | 409 | Conflict | 发生资源冲突，无法处理请求。 |

    | 413 | Payload Too Large | 超过了允许发送的文件大小上限。 |

    | 415 | Unsupported Media Type | 指定了服务器或资源不支持的媒体类型。请检查请求头中的媒体类型。 |

    | 500 | Internal Server Error | 服务器发生错误，无法完成请求。 |

    | 502 | Bad Gateway | 发生网关错误，例如使用代理服务器时，一台服务器从另一台服务器收到了无效响应。 |

    | 503 | Service Unavailable | 系统维护期间正在限制流入请求。 |

    | 504 | Gateway Timeout | 发生网关超时。 |'
- name: 客户
  description: '顧客を管理するAPIです。fincodeにおける顧客は多くのアプリケーションにおいて購入者となるユーザーアカウントに1:1で紐づけられます。\

    顧客には名前やメールアドレス、請求先住所を登録し管理でき、決済やカード情報・決済手段などのリソースが関連付けられます。

    '
- name: 卡片
  description: '顧客が持つカードを管理するAPIです。\

    カードにはクレジットカード/デビッドカード/プリペイドカードの有効期限や名義などの情報が含まれており、決済の実行時にカードのIDを指定することでそのカードに対して請求（決済）を行います。\

    \

    1つの顧客に対してカード情報は最大5件まで登録可能です。5件登録している状態で新しいカードを登録する場合は、既存のカードを削除してから再度登録してください。\

    \

    ※ カード登録時に3Dセキュア認証を行う場合は、[決済手段 登録API](#tag/PaymentMethod/operation/createCustomerPaymentMethod)を使用します。

    '
- name: 支付方式
  description: '顧客が持つ決済手段（*Payment Method*）を管理するAPIです。\

    決済実行の際に決済手段のIDを指定することで、その決済手段に対し請求（決済）をします。\

    \

    決済手段オブジェクトは`pay_type`パラメータの値によって下記の情報を表現します。


    - `Card`: この決済手段はカードを表します。`card`パラメータ内にカードに関する詳細な情報が含まれます。

    - `Directdebit`: この決済手段は口座振替における振替用口座を表します。`directdebit`パラメータ内に口座に関する詳細な情報が含まれます。

    - `Virtualaccount`: この決済手段は銀行振込（バーチャル口座）を表します。`virtualaccount`パラメータ内に口座に関する詳細な情報が含まれます。


    1つの顧客に対して同一`pay_type`の決済手段は最大5件まで登録可能です。5件登録している状態で新しい決済手段を登録する場合は、既存の決済手段を削除してから再度登録してください。\

    \

    ※カード情報の操作はカードAPIでも可能ですが、今後は非推奨となる予定です。新規実装および機能追加を行う場合は、決済手段APIの利用を推奨します。\

    \

    [更に詳しく解説したドキュメントをこちらから参照できます。](https://docs.fincode.jp/payment/payment_method)

    '
- name: 支付
  description: '決済を行うAPIです。\

    決済 登録APIで決済情報をfincodeに登録し、決済 実行APIで実際に購入者（顧客）に対して請求を行います。\

    \

    決済手段によっては決済実行後、3Dセキュア認証や購入者による現金払い込みなどが必要になります。

    '
- name: 3D Secure 认证
  description: '3Dセキュア認証を行うAPIです。\

    3Dセキュア認証はカード決済において不正利用を防止するために使用される本人認証の仕組みです。\

    \

    決済実行後、購入者が`acs_url`にアクセスすると、ブラウザ情報がfincodeへ送信され認証プロセスが開始します。認証のプロセスと実装のフローに関しては[Docs > 3Dセキュア2.0認証を使用する](https://docs.fincode.jp/payment/fraud_protection/3d_secure_2)から参照できます。

    '
- name: 重定向式支付
  description: 'fincodeが提供するリダイレクト型決済URLを作成するAPIです。\

    リクエスト時に`guide_mail_send_flag`（決済メール送信フラグ）に`1`（送信する）を指定することでリダイレクト型決済URLを添付したメールをfincodeから送信させられます。

    '
- name: 重定向式卡片登记
  description: 'リダイレクト型カード登録URLを作成するAPIです。


    - 顧客ID（`customer_id`）を指定して作成した場合、その顧客に対してカードを登録するためのカード登録URLを発行します。

    - 顧客IDを指定しなかった場合、顧客を新たに作成しその顧客に対してカードを登録するためのカード登録URLを発行します。


    リクエスト時に`guide_mail_send_flag`（登録メール送信フラグ）に`1`（送信する）を指定することでリダイレクト型カード登録URLを添付したメールをfincodeから送信させられます。

    '
- name: 套餐
  description: 'サブスクリプションのプランを管理するAPIです。\

    サブスクリプション請求の金額・間隔・頻度などのプラン情報を登録・取得・更新・削除できます。

    '
- name: 订阅
  description: 'サブスクリプションを管理するAPIです。\

    指定した顧客に対して指定したプランで定期・定額で請求を行うサブスクリプションを登録・更新・削除できるほか、結果照会APIを用いてあるサブスクリプションによって発生した毎回の課金の結果を一覧で取得することもできます。\

    \

    サブスクリプション課金の処理は非同期で行われ、Webhookイベント`recurring.card.batch`（サブスクリプション課金（カード決済） 実行）や`recurring.directdebit.batch`（サブスクリプション課金（口座振替）
    実行）で課金結果を受け取ることができます。

    '
- name: 批量支付
  description: '一括決済を行うAPIです。\

    数千・数万件単位の決済を1回のリクエストで登録・予約することができ、従量課金のビジネスモデルの構築などに利用できます。\

    \

    一括決済の処理は非同期で行われ、Webhookイベント`payments.bulk.*.batch`（一括決済課金 実行）で課金結果を受け取ることができます。

    '
- name: 发票功能
  description: 'インボイス機能に関するAPI群です。\

    機能の詳細は[こちら](/payment/invoice)をご確認ください。\

    インボイス情報をもとに決済機能付きの請求書と領収書が発行されます。

    '
- name: 销售款入账
  description: 'ショップの売上入金を取得できます。\

    また、ある売上入金の詳細情報を取得し、取引1件ごとの入金額への影響を確認することもできます。

    '
- name: 平台使用费收入
  description: 'プラットフォーム利用料による売上入金を取得できます。\

    また、ある売上入金のIDを指定して、テナントショップごとの入金のサマリー情報を一覧取得することもできます。

    '
- name: 拒付
  description: 'チャージバックに関する情報を取得できるAPIです。\

    チャージバックに関する詳細は[Docs](https://docs.fincode.jp/business_management/chargeback)をご確認ください。


    ショップ管理画面のチャージバックステータスは、APIの`status_code`と`canceled`パラメータで取得できます。\

    ステータスごとの対応は以下の通りです。


    **要対応**

    - `status_code`: 4005

    - `canceled`: 使用なし


    **回答済み**

    - `status_code`: 4006、4007、4011

    - `canceled`: 使用なし


    **売上返還確定**

    - `status_code`: 4009

    - `canceled`: false


    **その他（確定後取消）**

    - `status_code`: 4009

    - `canceled`: true

    '
- name: 平台商户
  description: 'プラットフォームショップ（メインショップ・サブショップ）の設定を管理するAPIです。\

    テナントに対し適用するプラットフォーム利用料金の設定や、プラットフォームショップの一覧取得などができます。

    '
- name: 租户商户
  description: 'テナントショップの設定を管理するAPIです。\

    テナントに対し適用するプラットフォーム利用料金の設定や、テナントショップの一覧取得などができます。

    '
- name: 租户申请管理
  description: 'テナントショップの新規作成や審査情報の提出、販売免許等のアップロードなどを行えるAPIです。\

    \

    <span class="attension">このAPIの利用について</span>\

    このAPIを本番環境で利用するためにはfincodeへの申請が必要です。利用を希望する場合は[問い合わせフォーム](https://form.fincode.jp/contact) からテナント申請管理APIを利用するサービスの概要をお知らせの上、機能開放をリクエストしてください。（テスト環境では常時利用できます。）

    '
- name: 公司印章
  description: 'ショップに紐づく社印を管理するAPIです。\

    登録された社印は、インボイス機能などで発行される請求書・領収書・インボイスWEBページに自動で押印されます。\

    画像はマルチパート形式でアップロードします。サポートする拡張子は `png` / `jpg` / `jpeg` です。

    '
- name: Webhook 设置
  description: 'Webhook設定を管理するAPIです。\

    fincode上で指定したイベントが発生した場合、指定したエンドポイントでリアルタイムで通知を受け取れます。\

    [Webhook通知仕様はこちら](https://docs.fincode.jp/api#tag/Webhook_)\

    \

    ※1 テナントのイベントを受けとるためにはテナントごとにWebhook設定を登録する必要があります。


    | 機能                         | イベント名                  | イベントパラメータ                         |

    |----------------------------|--------------------------|-----------------------------------------|

    | カード決済                     | 決済登録                     | payments.card.regist                   |

    | カード決済                     | 決済実行                     | payments.card.exec                     |

    | カード決済                     | 売上確定                     | payments.card.capture                  |

    | カード決済                     | キャンセル                     | payments.card.cancel                   |

    | カード決済                     | 再オーソリ                     | payments.card.auth                     |

    | カード決済                     | 金額変更                     | payments.card.change                   |

    | 3Dセキュア（カード決済）                     | 認証実行                     | payments.card.secure2.authenticate     |

    | 3Dセキュア（カード決済）                     | チャレンジ結果確定               | payments.card.secure2.result           |

    | 3Dセキュア（カード決済）                     | 認証後決済実行                 | payments.card.secure                   |

    | Apple Pay                   | 決済登録                     | payments.applepay.regist               |

    | Apple Pay                   | 決済実行                     | payments.applepay.exec                 |

    | Apple Pay                   | 売上確定                     | payments.applepay.capture              |

    | Apple Pay                   | キャンセル                     | payments.applepay.cancel               |

    | Google Pay                     | 決済登録                     | payments.googlepay.regist                   |

    | Google Pay                     | 決済実行                     | payments.googlepay.exec                     |

    | Google Pay                     | 売上確定                     | payments.googlepay.capture                  |

    | Google Pay                     | キャンセル                     | payments.googlepay.cancel                   |

    | Google Pay                     | 再オーソリ                     | payments.googlepay.auth                     |

    | Google Pay                     | 金額変更                     | payments.googlepay.change                   |

    | 3Dセキュア（Google Pay）                     | 認証実行                     | payments.googlepay.secure2.authenticate     |

    | 3Dセキュア（Google Pay）                     | チャレンジ結果確定               | payments.googlepay.secure2.result           |

    | 3Dセキュア（Google Pay）                     | 認証後決済実行                 | payments.googlepay.secure                   |

    | コンビニ決済                   | 決済登録                     | payments.konbini.regist                |

    | コンビニ決済                   | 決済実行                     | payments.konbini.exec                  |

    | コンビニ決済                   | キャンセル                     | payments.konbini.cancel                |

    | コンビニ決済                   | 支払通知                     | payments.konbini.complete              |

    | コンビニ決済                   | 支払通知（シミュレート）         | payments.konbini.complete.stub         |

    | コンビニ決済                   | 支払い期限切れ                 | konbini.expired.update.batch           |

    | PayPay                      | 決済登録                     | payments.paypay.regist                 |

    | PayPay                      | 決済実行                     | payments.paypay.exec                   |

    | PayPay                      | 売上確定                     | payments.paypay.capture                |

    | PayPay                      | キャンセル                     | payments.paypay.cancel                 |

    | PayPay                      | 金額変更                     | payments.paypay.change                 |

    | PayPay                      | 支払通知                     | payments.paypay.complete               |

    | 口座振替                     | 決済登録                     | payments.directdebit.regist            |

    | 口座振替                     | 決済実行                     | payments.directdebit.exec              |

    | 口座振替                     | キャンセル                     | payments.directdebit.cancel            |

    | 口座振替                     | 金額変更                     | payments.directdebit.change            |

    | 口座振替                     | 引き落とし通知                 | payments.directdebit.complete          |

    | 口座振替                     | 引き落とし通知（シミュレート）     | payments.directdebit.complete.stub     |

    | 銀行振込（バーチャル口座）      | 決済登録                     | payments.virtualaccount.regist         |

    | 銀行振込（バーチャル口座）      | 決済実行                     | payments.virtualaccount.exec           |

    | 銀行振込（バーチャル口座）      | キャンセル                     | payments.virtualaccount.cancel         |

    | 銀行振込（バーチャル口座）      | 支払通知                 | payments.virtualaccount.complete       |

    | 銀行振込（バーチャル口座）      | 支払通知（シミュレート）     | payments.virtualaccount.complete.stub  |

    | 決済手段（※3）                     | 登録                        | customers.payment_methods.created      |

    | 決済手段（※2）                     | 更新                        | customers.payment_methods.updated      |

    | 決済手段（※3）                     | 停止                        | customers.payment_methods.inactivated  |

    | 決済手段（※3）                     | 再有効化                        | customers.payment_methods.activated    |

    | 決済手段（※3）                     | 削除                        | customers.payment_methods.deleted      |

    | カード（※2）                       | 登録                        | card.regist                            |

    | カード                       | 更新                        | card.update                            |

    | カード                       | カード更新機能（洗替）                 | card.updater.complete                  |

    | サブスクリプション（カード決済）  | 登録                        | subscription.card.regist               |

    | サブスクリプション（カード決済）  | 解約                        | subscription.card.delete               |

    | サブスクリプション（カード決済）  | 更新                        | subscription.card.update               |

    | サブスクリプション課金（カード決済）| 実行                        | recurring.card.batch                   |

    | サブスクリプション（口座振替）      | 登録                        | subscription.directdebit.regist        |

    | サブスクリプション（口座振替）      | 解約                        | subscription.directdebit.delete        |

    | サブスクリプション（口座振替）      | 更新                        | subscription.directdebit.update        |

    | サブスクリプション課金（口座振替）  | 実行                        | recurring.directdebit.batch            |

    | 一括決済（カード決済）           | 登録                        | payments.bulk.card.regist              |

    | 一括決済課金（カード決済）         | 実行                        | payments.bulk.card.batch               |

    | 一括決済（バーチャル口座）           | 登録                        | payments.bulk.virtualaccount.regist              |

    | 一括決済課金（バーチャル口座）         | 実行                        | payments.bulk.virtualaccount.batch               |

    | 決済手段 契約状況              | 更新                        | contracts.status_code.updated          |

    | チャージバック                 | 登録                        | charge_backs.regist                    |

    | チャージバック                 | 更新                        | charge_backs.update                    |

    | 変更申請                       | 登録                        | change_requests.regist                 |

    | 変更申請                       | 更新                        | change_requests.update                 |


    ※2 リダイレクト型カード登録APIの結果通知を受け取るには決済手段 更新（customers.payment_methods.updated）のWebhook設定を登録する必要があります。\

    ※3 このイベントにおいて通知される決済手段はバーチャル口座のみです。カード、口座振替は通知されません。

    '
- name: Webhook 通知规范
  description: 'イベントが発生したときに、fincodeから加盟店様が設定したエンドポイントURLへWebhookのリクエストを送信するときの仕様です。\

    [イベント一覧はこちら](https://docs.fincode.jp/api#tag/Webhook)\

    ※通知対象のパラメータは、機能追加等に伴い追加される可能性があります。\

    ※予告なくパラメータ名の変更、削除が行われることはありません。\

    \

    Webhookを利用する場合は、正常受信または受信失敗のレスポンスをWebhookのリクエストに対して返却する必要があります。\

    Webhookのリクエストがエラーで失敗した場合は、リトライ仕様に従って再送します。

    '
externalDocs:
  description: fincodeJSの仕様はこちらの JSリファレンス から確認できます。
  url: /js
paths:
  /v1/customers:
    post:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: createCustomer
      tags:
      - 客户
      summary: 客户登记
      parameters:
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          将客户信息登记到指定的租户商户名下。'
      description: 登记客户信息。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer.Creating.Request'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.Creating.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\"\
          \ \\\n    -d '{\n    \"name\": \"John Doe\",\n    \"email\": \"john@example.com\"\n}' \\\n'https://api.test.fincode.jp/v1/customers'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    try {\n        // リクエストの送信\n\
          \        const customer = await fincode.customers.create({\n            name: \"John Doe\",\n            email:\
          \ \"john@example.com\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc\
          \ main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tbody := CreatingCustomerRequest{\n\t\tEmail:   stringPointer(\"\
          john@example.com\"),\n\t\tName:    stringPointer(\"John Doe\"),\n\t\tPhoneCC: stringPointer(\"81\"),\n\t\tPhoneNo:\
          \ stringPointer(\"1234567890\"),\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ :=\
          \ http.NewRequest(\"POST\", \"https://api.test.fincode.jp/v1/customers\", bytes.NewBuffer(marshalledBody))\n\treq.Header.Set(\"\
          Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\
          \n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\
          \t}\n\tdefer res.Body.Close()\n\n}\n\ntype CreatingCustomerRequest struct {\n\tID           *string `json:\"id,omitempty\"\
          `\n\tName         *string `json:\"name,omitempty\"`\n\tEmail        *string `json:\"email,omitempty\"`\n\tPhoneCC\
          \      *string `json:\"phone_cc,omitempty\"`\n\tPhoneNo      *string `json:\"phone_no,omitempty\"`\n\tAddrCity \
          \    *string `json:\"addr_city,omitempty\"`\n\tAddrCountry  *string `json:\"addr_country,omitempty\"`\n\tAddrLine1\
          \    *string `json:\"addr_line_1,omitempty\"`\n\tAddrLine2    *string `json:\"addr_line_2,omitempty\"`\n\tAddrLine3\
          \    *string `json:\"addr_line_3,omitempty\"`\n\tAddrPostCode *string `json:\"addr_post_code,omitempty\"`\n\tAddrState\
          \    *string `json:\"addr_state,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers\"\
          ;\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data\
          \ = json_encode([\n    \"name\" => \"John Doe\",\n    \"email\" => \"john@example.com\"\n]);\n\n$session = curl_init();\n\
          curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\n\
          curl_setopt($session, CURLOPT_POST, true);\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session,\
          \ CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session,\
          \ CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n  \
          \  echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\n\
          curl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/customers'\n\n\
          # ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\n\
          data = {\n    \"name\": \"John Doe\",\n    \"email\": \"john@example.com\"\n}\n\n# HTTP POSTリクエストの送信\ntry:\n   \
          \ response = requests.post(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n\
          \        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"\
          Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error:\
          \ {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    endpoint = \"/v1/customers\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host,\
          \ uri.port)\n    http.use_ssl = true\n\n    data = {\n        name: \"John Doe\",\n        email: \"john@example.com\"\
          ,\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"\
          Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n   \
          \ # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts\
          \ 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    get:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: retrieveCustomerList
      tags:
      - 客户
      summary: 客户列表查询
      description: 获取客户信息列表。可通过查询参数缩小获取范围。
      parameters:
      - in: query
        name: クエリ
        description: 获取客户信息列表时使用的查询条件参数。
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Pagination.QueryParams'
          - $ref: '#/components/schemas/Customer.ListRetrieving.QueryParams'
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          获取与该租户商户关联的客户列表。'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.ListRetrieving.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    try {\n        // リクエストの送信\n\
          \        const customers = await fincode.customers.retrieveList({\n            limit: 10,\n        });\n    } catch\
          \ (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret\
          \ API Key>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"GET\", \"https://api.test.fincode.jp/v1/customers\"\
          , nil)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\
          \tparams.Add(\"limit\", \"10\")\n\treq.URL.RawQuery = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\
          \tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers\"\
          ;\n$queryParams = [\n    \"limit\" => 10,\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n\
          $session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . '?' . http_build_query($queryParams));\n\
          curl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session,\
          \ CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session,\
          \ CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n  \
          \  echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\n\
          curl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/customers'\n\n\
          # ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\nquery_params = { 'limit': 10 }\n\ntry:\n \
          \   response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code\
          \ == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n\
          \        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"\
          Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    endpoint = \"/v1/customers\"\n    query_params =  { limit: 10 }\n\n    uri = URI.parse(BASE_URL\
          \ + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n\
          \    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization']\
          \ = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when\
          \ Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts\
          \ response.body\nend\n\nmain\n"
  /v1/customers/{id}:
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: retrieveCustomer
      tags:
      - 客户
      summary: 获取客户
      description: 获取由 ID 指定的客户信息。
      parameters:
      - name: id
        in: path
        description: 客户 ID。
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        required: true
      - name: Tenant-Shop-Id
        in: header
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          从与该租户商户关联的客户中，获取指定 ID 的客户信息。'
        required: false
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.Retrieving.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer\
          \ ID>\";\n\n    try {\n        // リクエストの送信\n        const customer = await fincode.customers.retrieve(customerId);\n\
          \    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret\
          \ API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"GET\",\n\
          \t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"\
          Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err :=\
          \ client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\"\
          ;\n$endpoint = \"/v1/customers/{$customerId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n\
          $session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER,\
          \ $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n\
          // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response\
          \ = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n\
          } else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'\n\
          \n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url,\
          \ headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"\
          Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept\
          \ requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}\"\n\n    uri = URI.parse(BASE_URL\
          \ + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request\
          \ = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n\
          \    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n\
          \    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    put:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: updateCustomer
      tags:
      - 客户
      summary: 更新客户
      description: 更新由 ID 指定的客户信息。
      parameters:
      - name: id
        in: path
        description: 客户 ID。
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          从与该租户商户关联的客户中，更新指定 ID 的客户信息。'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer.Updating.Request'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.Updating.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X PUT \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\"\
          \ \\\n    -d '{\n    \"name\": \"Jane Doe\",\n    \"email\": \"jane@example.com\"\n}' \\\n'https://api.test.fincode.jp/v1/customers/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer\
          \ ID>\";\n\n    try {\n        // リクエストの送信\n        const customer = await fincode.customers.update(customerId,\
          \ {\n            name: \"Jane Doe\",\n            email: \"jane@example.com\",\n        });\n    } catch (e) {\n\
          \        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc\
          \ main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tbody := UpdatingCustomerRequest{\n\
          \t\tName:  stringPointer(\"Jane Doe\"),\n\t\tEmail: stringPointer(\"jane@example.com\"),\n\t}\n\n\tmarshalledBody,\
          \ _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"PUT\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\"\
          , customerID),\n\t\tbytes.NewBuffer(marshalledBody),\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer\
          \ %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\
          \tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype\
          \ UpdatingCustomerRequest struct {\n\tName         *string `json:\"name,omitempty\"`\n\tEmail        *string `json:\"\
          email,omitempty\"`\n\tPhoneCC      *string `json:\"phone_cc,omitempty\"`\n\tPhoneNo      *string `json:\"phone_no,omitempty\"\
          `\n\tAddrCity     *string `json:\"addr_city,omitempty\"`\n\tAddrCountry  *string `json:\"addr_country,omitempty\"\
          `\n\tAddrLine1    *string `json:\"addr_line_1,omitempty\"`\n\tAddrLine2    *string `json:\"addr_line_2,omitempty\"\
          `\n\tAddrLine3    *string `json:\"addr_line_3,omitempty\"`\n\tAddrPostCode *string `json:\"addr_post_code,omitempty\"\
          `\n\tAddrState    *string `json:\"addr_state,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn\
          \ &s\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\"\
          ;\n$endpoint = \"/v1/customers/{$customerId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"\
          Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"name\" => \"Jane Doe\",\n    \"email\" => \"\
          jane@example.com\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\n\
          curl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'PUT');\ncurl_setopt($session,\
          \ CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER,\
          \ );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response ===\
          \ false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n\
          }\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'\n\
          \n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\
          \ndata = {\n    \"name\": \"Jane Doe\",\n    \"email\": \"jane@example.com\"\n}\n\n# HTTP POSTリクエストの送信\ntry:\n \
          \   response = requests.put(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n\
          \        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"\
          Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error:\
          \ {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}\"\n    uri = URI.parse(BASE_URL\
          \ + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n       \
          \ name: 'Jane Doe',\n        email: 'jane@example.com',\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Put.new(uri.request_uri)\n\
          \    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body\
          \ = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n\
          \        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\
          \nmain\n"
    delete:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: deleteCustomer
      tags:
      - 客户
      summary: 删除客户
      description: 删除由 ID 指定的客户信息。
      parameters:
      - name: id
        in: path
        description: 客户 ID。
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        required: true
      - name: Tenant-Shop-Id
        in: header
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          从与该租户商户关联的客户中，删除指定 ID 的客户信息。'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.Deleting.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X DELETE \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer\
          \ ID>\";\n\n    try {\n        // リクエストの送信\n        const result = await fincode.customers.delete(customerId);\n\
          \    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret\
          \ API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"DELETE\"\
          ,\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"\
          Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err :=\
          \ client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\"\
          ;\n$endpoint = \"/v1/customers/{$customerId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n\
          $session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER,\
          \ $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($session, CURLOPT_RETURNTRANSFER,\
          \ true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST,\
          \ );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" .\
          \ curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'\n\
          \n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.delete(url,\
          \ headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"\
          Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept\
          \ requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}\"\n\n    uri = URI.parse(BASE_URL\
          \ + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request\
          \ = Net::HTTP::Delete.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n\
          \    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n\
          \    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/customers/{customer_id}/cards:
    post:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      tags:
      - 卡片
      operationId: createCustomerCard
      summary: 卡片登记
      description: '为 `customer_id` 指定的客户登记卡片。


        <span class="smallText">也可以通过支付方式 API（<code>POST /v1/customers/{customer_id}/payment_methods</code>，<code>pay_type
        = "Card"</code>）登记卡片。新开发时，建议使用支付方式 API，以便采用与银行账户自动扣款、银行转账（虚拟账户）相同的形式进行处理。</span>'
      parameters:
      - name: customer_id
        in: path
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        description: 与该卡片关联的客户 ID。
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          为与该租户商户关联的客户中，由 ID 指定的客户登记卡片。'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCard.Creating.Request'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.Creating.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\"\
          \ \\\n    -d '{\n    \"default_flag\": \"1\",\n    \"token\": \"<Token from fincodeJS>\"\n}' \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer\
          \ ID>\";\n\n    try {\n        // リクエストの送信\n        const card = await fincode.cards.create(customerId, {\n    \
          \        token: \"<Token from fincodeJS>\",\n            default_flag: \"1\",\n        });\n    } catch (e) {\n\
          \        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc\
          \ main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\tbody := CreatingCustomerCardRequest{\n\
          \t\tToken:       \"<Token from fincodeJS>\",\n\t\tDefaultFlag: \"0\",\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\
          \n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"POST\", fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards\"\
          , customerID), bytes.NewBuffer(marshalledBody))\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\",\
          \ apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\
          \tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype\
          \ CreatingCustomerCardRequest struct {\n\tDefaultFlag string `json:\"default_flag\"`\n\tToken       string `json:\"\
          token\"`\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\"\
          ;\n$endpoint = \"/v1/customers/{$customerId}/cards\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n\
          \    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"token\" => \"613531623566356561366261346366623132306663393139\"\
          ,\n    \"default_flag\" => \"1\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl .\
          \ $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_POST, true);\n\
          curl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session,\
          \ CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\
          \nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n\
          \    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n\
          \n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\
          \ndata = {\n    \"token\": \"<Token from fincodeJS>\",\n    \"default_flag\": \"1\",\n}\n\n# HTTP POSTリクエストの送信\n\
          try:\n    response = requests.post(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code\
          \ == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n  \
          \      print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"\
          Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}/cards\"\n    uri =\
          \ URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n  \
          \  data = {\n        token: '<Token from fincodeJS>',\n        default_flag: '1'\n    }\n\n    # リクエストの作成\n    request\
          \ = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type']\
          \ = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\
          \n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\
          \n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      tags:
      - 卡片
      operationId: retrieveCustomerCardList
      summary: 获取卡片列表
      description: '获取与 `customer_id` 指定的客户关联的卡片列表。


        <span class="smallText">也可以通过支付方式 API（<code>GET /v1/customers/{customer_id}/payment_methods</code>，<code>pay_type
        = "Card"</code>）获取卡片信息列表。新开发时，建议使用支付方式 API。</span>'
      parameters:
      - name: customer_id
        in: path
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        description: '客户 ID。

          获取与该客户关联的卡片列表。'
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          获取与该租户商户关联的指定客户已登记的卡片列表。'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.ListRetrieving.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer\
          \ ID>\";\n\n    try {\n        // リクエストの送信\n        const cards = await fincode.cards.retrieveList(customerId);\n\
          \    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret\
          \ API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"GET\", fmt.Sprintf(\"\
          https://api.test.fincode.jp/v1/customers/%s/cards\", customerID), nil)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"\
          Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil\
          \ {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\"\
          ;\n$endpoint = \"/v1/customers/{$customerId}/cards\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n\
          ];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session,\
          \ CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER,\
          \ true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST,\
          \ );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" .\
          \ curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "from calendar import c\nimport requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\
          \nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization':\
          \ f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code\
          \ == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n\
          \        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"\
          Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}/cards\"\n\n    uri\
          \ = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host,\
          \ uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization']\
          \ = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when\
          \ Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts\
          \ response.body\nend\n\nmain\n"
  /v1/customers/{customer_id}/cards/{id}:
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      tags:
      - 卡片
      operationId: retrieveCustomerCard
      summary: 获取卡片
      description: '从与 `customer_id` 指定的客户关联的卡片中，获取由 `id` 指定的卡片。


        <span class="smallText">也可以通过支付方式 API（<code>GET /v1/customers/{customer_id}/payment_methods/{id}</code>，<code>pay_type
        = "Card"</code>）获取卡片信息。新开发时，建议使用支付方式 API。</span>'
      parameters:
      - name: customer_id
        in: path
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        description: 与该卡片关联的客户 ID。
        required: true
      - name: id
        in: path
        schema:
          allOf:
          - $ref: '#/components/schemas/CardId_schema'
        description: 要获取的卡片 ID。
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          从与该租户商户关联的指定客户已登记的卡片中获取目标卡片。'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.Retrieving.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer\
          \ ID>\";\n    const cardId = \"<Card ID>\";\n\n    try {\n        // リクエストの送信\n        const card = await fincode.cards.retrieve(customerId,\
          \ cardId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret\
          \ API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tcardID := \"<Card ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\
          \t\t\"GET\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards/%s\", customerID, cardID),\n\t\
          \tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient\
          \ := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\
          \n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$cardId = '<Card ID>';\n\n$baseUrl\
          \ = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards/{$cardId}\";\n$headers = [\n\
          \    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl\
          \ . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\n\
          curl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session,\
          \ CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n  \
          \  echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\n\
          curl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\ncard_id = '<Card ID>'\n\
          \nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'\n\n# ヘッダーを設定\nheaders = {\n \
          \   'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers)\n\n    #\
          \ レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\"\
          )\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as\
          \ e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n    card_id = '<Card ID>'\n    \n    endpoint = \"/v1/customers/#{customer_id}/cards/#{card_id}\"\
          \n\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl =\
          \ true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer\
          \ #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n\
          \        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\
          \nmain\n"
    put:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      tags:
      - 卡片
      operationId: updateCustomerCard
      summary: 更新卡片
      description: '从与 `customer_id` 指定的客户关联的卡片中，更新由 `id` 指定的卡片。


        <span class="smallText">也可以通过支付方式 API（<code>PUT /v1/customers/{customer_id}/payment_methods/{id}</code>，<code>pay_type
        = "Card"</code>）更新卡片信息。新开发时，建议使用支付方式 API。</span>'
      parameters:
      - name: customer_id
        in: path
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        description: 与该卡片关联的客户 ID。
        required: true
      - name: id
        in: path
        schema:
          allOf:
          - $ref: '#/components/schemas/CardId_schema'
        description: 要更新的卡片 ID。
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          更新与该租户商户关联的指定客户已登记的卡片信息。'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCard.Updating.Request'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.Updating.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X PUT \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\"\
          \ \\\n    -d '{\n    \"default_flag\": \"1\",\n}' \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer\
          \ ID>\";\n    const cardId = \"<Card ID>\";\n\n    try {\n        // リクエストの送信\n        const card = await fincode.cards.update(customerId,\
          \ cardId, {\n            default_flag: \"0\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc\
          \ main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tbody := UpdatingCustomerCardRequest{\n\t\tDefaultFlag: stringPointer(\"\
          1\"),\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"PUT\", \"\
          https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}\", bytes.NewBuffer(marshalledBody))\n\treq.Header.Set(\"\
          Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\
          \n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\
          \t}\n\tdefer res.Body.Close()\n\n}\n\ntype UpdatingCustomerCardRequest struct {\n\tDefaultFlag *string `json:\"\
          default_flag,omitempty\"`\n\tToken       *string `json:\"token,omitempty\"`\n\tHolderName  *string `json:\"holder_name,omitempty\"\
          `\n\tExpire      *string `json:\"expire,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n\
          }\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$cardId = '<Card ID>';\n\n$baseUrl\
          \ = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards/{$cardId}\";\n$headers = [\n\
          \    \"Authorization: Bearer \" . $apiKey,\n];\n\n$data = json_encode([\n    \"default_flag\" => \"0\"\n]);\n\n\
          $session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER,\
          \ $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'PUT');\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\n\
          curl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session,\
          \ CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n  \
          \  echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\n\
          curl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\ncard_id = '<Card ID>'\n\
          \nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'\n\n# ヘッダーを設定\nheaders = {\n \
          \   'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"default_flag\"\
          : \"0\",\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.put(url, headers=headers, json=data)\n\n    #\
          \ レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\"\
          )\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as\
          \ e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n    card_id = '<Card ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/cards/#{card_id}\"\
          \n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\
          \n    data = {\n        default_flag: '0'\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Put.new(uri.request_uri)\n\
          \    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body\
          \ = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n\
          \        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\
          \nmain\n"
    delete:
      tags:
      - 卡片
      operationId: deleteCustomerCard
      summary: 删除卡片
      description: '从与 `customer_id` 指定的客户关联的卡片中，删除由 `id` 指定的卡片。


        <span class="smallText">也可以通过支付方式 API（<code>DELETE /v1/customers/{customer_id}/payment_methods/{id}</code>，<code>pay_type
        = "Card"</code>）删除卡片信息。新开发时，建议使用支付方式 API。</span>'
      parameters:
      - name: customer_id
        in: path
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        description: 与该卡片关联的客户 ID。
        required: true
      - name: id
        in: path
        schema:
          allOf:
          - $ref: '#/components/schemas/CardId_schema'
        description: 要删除的卡片 ID。
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          删除与该租户商户关联的指定客户已登记的卡片。'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.Deleting.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X DELETE \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () =>\
          \ {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer\
          \ ID>\";\n    const cardId = \"<Card ID>\";\n\n    try {\n        // リクエストの送信\n        const result = await fincode.cards.delete(customerId,\
          \ cardId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret\
          \ API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tcardID := \"<Card ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\
          \t\t\"DELETE\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards/%s\", customerID, cardID),\n\
          \t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient\
          \ := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\
          }\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$cardId = '<Card ID>';\n\n$baseUrl\
          \ = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards/{$cardId}\";\n$headers = [\n\
          \    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl\
          \ . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST,\
          \ 'DELETE');\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER,\
          \ );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response ===\
          \ false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n\
          }\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\ncard_id = '<Card ID>' \n\
          \nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'\n\n# ヘッダーを設定\nheaders = {\n \
          \   'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.delete(url, headers=headers)\n\n \
          \   # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\"\
          )\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as\
          \ e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n    card_id = '<Card ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/cards/#{card_id}\"\
          \n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host,\
          \ uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Delete.new(uri.request_uri)\n \
          \   request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n\
          \    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\
          \n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/cards:
    get:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      tags:
      - 卡片
      operationId: retrieveCardList
      summary: 获取卡片列表（按客户信息共享组）
      description: 按客户信息共享组获取卡片信息列表。
      parameters:
      - in: query
        name: クエリ
        description: 获取卡片信息列表时使用的查询条件参数。
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Pagination.QueryParams'
          - $ref: '#/components/schemas/Card.ListRetrieving.QueryParams'
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          从与该租户商户关联的客户信息共享组所拥有的卡片信息中获取列表。'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card.ListRetrieving.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/cards?limit=10&page=1&customer_id=<Customer\
          \ ID>'\n"
      - lang: node
        label: Node.js
        source: "import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY =\
          \ \"<Secret API Key>\";\n\n(async () => {\n    const endpoint = new URL(`${BASE_URL}/v1/cards`);\n    endpoint.search\
          \ = new URLSearchParams({\n        limit: \"10\",\n        page: \"1\",\n        customer_id: \"<Customer ID>\"\
          ,\n    }).toString();\n\n    const response = await fetch(endpoint, {\n        method: \"GET\",\n        headers:\
          \ {\n            Authorization: `Bearer ${API_KEY}`,\n        },\n    });\n    const cards = await response.json();\n\
          })();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret\
          \ API Key>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"GET\", \"https://api.test.fincode.jp/v1/cards\", nil)\n\
          \treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\tparams.Add(\"\
          limit\", \"10\")\n\tparams.Add(\"page\", \"1\")\n\tparams.Add(\"customer_id\", \"<Customer ID>\")\n\treq.URL.RawQuery\
          \ = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil\
          \ {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/cards\"\
          ;\n$queryParams = [\n    \"limit\" => 10,\n    \"page\" => 1,\n    \"customer_id\" => '<Customer ID>',\n];\n\n$headers\
          \ = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL,\
          \ $baseUrl . $endpoint . '?' . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\n\
          curl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session,\
          \ CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\
          \nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n\
          \    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/cards'\n\n# ヘッダーを設定\n\
          headers = {\n    'Authorization': f'Bearer {api_key}',\n}\nquery_params = {\n    'limit': 10,\n    'page': 1,\n\
          \    'customer_id': '<Customer ID>',\n}\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\
          \n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\"\
          )\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as\
          \ e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    endpoint = \"/v1/cards\"\n    query_params = {\n        limit: 10,\n        page: 1,\n        customer_id:\
          \ '<Customer ID>'\n    }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\
          \n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n\
          \    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n\
          \    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\
          \n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/customers/{customer_id}/payment_methods:
    post:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: createCustomerPaymentMethod
      tags:
      - 支付方式
      summary: 登记支付方式
      description: 为 `customer_id` 指定的客户登记支付方式。
      parameters:
      - name: customer_id
        in: path
        description: 客户 ID。
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        required: true
      - name: Tenant-Shop-Id
        in: header
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          为与该租户商户关联的客户中，由 ID 指定的客户登记支付方式。'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentMethod.Creating.Request'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentMethod.Creating.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\"\
          \ \\\n    -d '{\n    \"pay_type\": \"Directdebit\",\n    \"default_flag\": \"1\",\n    \"return_url\": \"https://your-service.example.com/return\"\
          ,\n    \"directdebit\":  {\n        \"application_type\": \"ONLINE\",\n        \"bank_code\": \"0310\",\n      \
          \  \"branch_code\": \"000\",\n        \"account_type\": \"1\",\n        \"account_number\": \"0999999\",\n     \
          \   \"account_name_kana\": \"ナマエカナ\"\n    }\n}' \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc\
          \ main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\tbody := CreatingPaymentMethodRequest{\n\
          \t\tPayType:     \"Directdebit\",\n\t\tDefaultFlag: \"1\",\n\t\tReturnURL:   \"https://your-service.example.com/return\"\
          ,\n\t\tDirectdebit: Directdebit{\n\t\t\tApplicationType: \"ONLINE\",\n\t\t\tBankCode:        \"0310\",\n\t\t\tBranchCode:\
          \      stringPointer(\"000\"),\n\t\t\tAccountType:     stringPointer(\"1\"),\n\t\t\tAccountNumber:   stringPointer(\"\
          0999999\"),\n\t\t\tAccountNameKana: \"ナマエカナ\",\n\t\t},\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\turl\
          \ := fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods\", customerID)\n\n\t// リクエストの作成\n\
          \treq, _ := http.NewRequest(\n\t\t\"POST\",\n\t\turl,\n\t\tbytes.NewBuffer(marshalledBody),\n\t)\n\treq.Header.Set(\"\
          Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\
          \n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\
          \t}\n\tdefer res.Body.Close()\n\n}\n\ntype CreatingPaymentMethodRequest struct {\n\tPayType     string      `json:\"\
          pay_type\"`\n\tDefaultFlag string      `json:\"default_flag\"`\n\tDirectdebit Directdebit `json:\"directdebit\"\
          `\n\tReturnURL   string      `json:\"return_url\"`\n}\n\ntype Directdebit struct {\n\tApplicationType  string  \
          \          `json:\"application_type\"`\n\tBankCode         string            `json:\"bank_code\"`\n\tBranchCode\
          \       *string           `json:\"branch_code,omitempty\"`\n\tAccountType      *string           `json:\"account_type,omitempty\"\
          `\n\tAccountNumber    *string           `json:\"account_number,omitempty\"`\n\tAccountName      *string        \
          \   `json:\"account_name,omitempty\"`\n\tAccountNameKana  string            `json:\"account_name_kana\"`\n\tPaperApplication\
          \ *PaperApplication `json:\"paper_application,omitempty\"`\n}\n\ntype PaperApplication struct {\n\tPostalAccountNumber1\
          \ *string `json:\"postal_account_number_1,omitempty\"`\n\tPostalAccountNumber2 *string `json:\"postal_account_number_2,omitempty\"\
          `\n\tRequestFormId        string  `json:\"request_form_id\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn\
          \ &s\n}\n"
      - lang: node
        label: Node.js
        source: "import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY =\
          \ \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods`;\n\
          \n    const response = await fetch(endpoint, {\n        method: \"POST\",\n        headers: {\n            Authorization:\
          \ `Bearer ${API_KEY}`,\n            \"Content-Type\": \"application/json\",\n        },\n        body: JSON.stringify({\n\
          \            pay_type: \"Directdebit\",\n            default_flag: \"1\",\n            return_url: \"https://your-service.example.com/return\"\
          ,\n            directdebit: {\n                application_type: \"ONLINE\",\n                bank_code: \"0310\"\
          ,\n                branch_code: \"000\",\n                account_type: \"1\",\n                account_number:\
          \ \"0999999\",\n                account_name_kana: \"ナマエカナ\",\n            },\n        }),\n    });\n    const paymentMethods\
          \ = await response.json();\n})();\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\"\
          ;\n$endpoint = \"/v1/customers/{$customerId}/payment_methods\";\n$headers = [\n    \"Authorization: Bearer \" .\
          \ $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"pay_type\" => \"Directdebit\"\
          ,\n    \"default_flag\" => \"1\",\n    \"return_url\" => \"https://your-service.example.com/return\",\n    \"directdebit\"\
          \ => [\n        \"application_type\" => \"ONLINE\",\n        \"bank_code\" => \"0310\",\n        \"branch_code\"\
          \ => \"000\",\n        \"account_type\" => \"1\",\n        \"account_number\" => \"0999999\",\n        \"account_name_kana\"\
          \ => \"ナマエカナ\"\n    ]\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\n\
          curl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_POST, true);\ncurl_setopt($session,\
          \ CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER,\
          \ );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response ===\
          \ false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n\
          }\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'\n\
          \n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\
          \ndata = {\n    \"pay_type\": \"Directdebit\",\n    \"default_flag\": \"1\",\n    \"return_url\": \"https://your-service.example.com/return\"\
          ,\n    \"directdebit\": {\n        \"application_type\": \"ONLINE\",\n        \"bank_code\": \"0310\",\n       \
          \ \"branch_code\": \"000\",\n        \"account_type\": \"1\",\n        \"account_number\": \"0999999\",\n      \
          \  \"account_name_kana\": \"ナマエカナ\"\n    }\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.post(url, headers=headers,\
          \ json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success:\
          \ {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException\
          \ as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}/payment_methods\"\n\
          \    \n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl\
          \ = true\n\n    data = {\n        pay_type: \"Directdebit\",\n        default_flag: \"1\",\n        return_url:\
          \ \"https://your-service.example.com/return\",\n        directdebit: {\n            application_type: \"ONLINE\"\
          ,\n            bank_code: \"9999\",\n            branch_code: \"000\",\n            account_type: \"1\",\n     \
          \       account_number: \"0999999\",\n            account_name_kana: \"ナマエカナ\"\n        }   \n    }\n\n    # リクエストの作成\n\
          \    request = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type']\
          \ = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\
          \n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\
          \n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: retrieveCustomerPaymentMethodList
      tags:
      - 支付方式
      summary: 获取支付方式列表
      description: 获取与 `customer_id` 指定的客户关联的支付方式列表。
      parameters:
      - name: customer_id
        in: path
        description: 客户 ID。
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        required: true
      - name: クエリ
        in: query
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerPaymentMethod.ListRetrieving.QueryParams'
        description: 获取支付方式列表时使用的查询条件参数。
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          获取与该租户商户关联的指定客户所拥有的支付方式列表。'
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentMethod.ListRetrieving.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods?pay_type=Directdebit'\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret\
          \ API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"GET\",\n\
          \t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods\", customerID),\n\t\tnil,\n\t)\n\t\
          req.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\tparams.Add(\"\
          pay_type\", \"Directdebit\")\n\treq.URL.RawQuery = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\
          \tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
      - lang: node
        label: Node.js
        source: "import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY =\
          \ \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods`;\n\
          \n    const response = await fetch(endpoint, {\n        method: \"GET\",\n        headers: {\n            Authorization:\
          \ `Bearer ${API_KEY}`,\n        },\n    });\n    const paymentMethods = await response.json();\n})();\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\"\
          ;\n$endpoint = \"/v1/customers/{$customerId}/payment_methods\";\n$queryParams = [\n    \"pay_type\" => \"Directdebit\"\
          ,\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session,\
          \ CURLOPT_URL, $baseUrl . $endpoint . \"?\" . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER,\
          \ $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n\
          // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response\
          \ = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n\
          } else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'\n\
          query_params = {\n    'pay_type': 'Directdebit',\n}\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n\
          }\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code\
          \ == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n\
          \        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"\
          Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\
          \ndef main\n    customer_id = '<Customer ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/payment_methods\"\
          \n    query_params =  { \n        limit: 10,\n        pay_type: 'Directdebit',\n    }\n\n    uri = URI.parse(BASE_URL\
          \ + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n\
          \    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization']\
          \ = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when\
          \ Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts\
          \ response.body\nend\n\nmain\n"
  /v1/customers/{customer_id}/payment_methods/{id}:
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: retrieveCustomerPaymentMethod
      tags:
      - 支付方式
      summary: 获取支付方式
      description: 从与 `customer_id` 指定的客户关联的支付方式中，获取由 `id` 指定的支付方式。
      parameters:
      - name: customer_id
        in: path
        description: 客户 ID。
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerId_schema'
        required: true
      - name: id
        in: path
        description: '支付方式 ID。

          <span class="smallText">当 `pay_type = Card`（卡片）时，ID 以 `cs_` 开头。</span>'
        schema:
          allOf:
          - $ref: '#/components/schemas/PaymentMethodId_schema'
        required: true
        examples:
          payment_method:
            $ref: '#/components/examples/payment_method'
          card:
            $ref: '#/components/examples/card'
      - name: Tenant-Shop-Id
        in: header
        schema:
          allOf:
          - $ref: '#/components/schemas/schema'
        description: '<span class="smallText color--red-400">仅当平台主商户不共享客户信息时可指定</span>

          租户商户 ID。

          从与该租户商户关联的指定客户所拥有的支付方式中，获取由 ID 指定的支付方式。'
      - name: クエリ
        in: query
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerPaymentMethod.Retrieving.QueryParams'
        description: 获取支付方式时使用的查询条件参数。
      responses:
        '200':
          description: 请求成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentMethod.Retrieving.Response'
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods/{id}?pay_type=Card'\n"
      - lang: node
        label: Node.js
        source: "import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY =\
          \ \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n    const paymentMethodId\
          \ = \"<Payment Method ID>\";\n\n    const queryParams = new URLSearchParams({\n        pay_type: \"Card\",\n   \
          \ });\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods/${paymentMethodId}?${queryParams}`;\n\
          \n    const response = await fetch(endpoint, {\n        method: \"GET\",\n        headers: {\n            Authorization:\
          \ `Bearer ${API_KEY}`,\n        },\n    });\n    const paymentMethod = await response.json();\n})();\n"
[...]
