{"openapi":"3.0.2","info":{"title":"fincode API 中文参考","description":"这是 fincode 的 API 参考文档。\nfincode 除支付信息外还能够管理多种资源，因此其 API 采用面向资源的 REST 接口设计。\n调用 API 时必须使用 API Key 进行认证。发送请求时，请在 `Authorization` 请求头中设置有效的 API Key。","version":"1.4.0","x-translation":{"language":"zh-CN","method":"manual","source":"https://docs.fincode.jp/assets/api/fincode-openapi.yml","disclaimer":"中文仅供开发参考；如有歧义，以 fincode 官方日文文档为准。"}},"servers":[{"url":"https://api.fincode.jp","description":"生产环境"},{"url":"https://api.test.fincode.jp","description":"测试环境"}],"tags":[{"name":"字符编码","description":"fincode 的请求与响应统一使用 UTF-8 字符编码。\n\n| 字符编码 | 备注 |\n| --- | --- |\n| UTF-8 | fincode 的请求与响应统一使用 UTF-8 字符编码。 |","x-trailTag":true},{"name":"请求头","description":"调用 fincode API 时可指定以下请求头。\n\n| 请求头 | 指定方式 | 说明 |\n| --- | --- | --- |\n| `Api-Version` | YYYYMMDD | 可指定 API 的次要版本（当前为 `20211001`）。未指定时自动使用最新版本。 |\n| `Authorization` | Bearer {{API Key}} <br />或 Basic {{Base64 编码后的 API Key}} | 指定 API Key。支持 Bearer 认证或 Basic 认证。 |\n| `Content-Type` | application/json;charset=UTF-8 | 指定请求体的 Content-Type。 |\n| `idempotent_key` | UUID v4 | 用于保证请求幂等性的键。详情参见“幂等处理”。 |\n| `Tenant-Shop-Id` | 租户商户的商户 ID | 仅限平台功能。平台商户以租户商户身份执行 API（例如处理该租户商户的支付）时，指定对应租户的商户 ID。 |"},{"name":"分页","description":"为避免一次返回大量数据，列表查询类 API 实现了分页功能。\n当目标数据达到 10 条或以上时，默认最多返回 10 条。\n如需获取后续数据或一次获取 10 条以上的数据，可通过查询参数指定 `page` 和 `limit`。\n还可以使用查询条件缩小数据范围；可用的查询字段因 API 而异。\n\n| No | 项目 | 参数 | 含义 | 默认值 | 范围 | 处理规则 |\n|----|------|------|------|--------|------|----------|\n| 1 | 获取条数 | limit | 每页最大条数 | 10 | 10-100 | 未指定时使用默认值。超出范围时返回错误。 |\n| 2 | 页码 | page | 页码 | 1 | 1-9999 | 未指定时使用默认值。指定的数字大于响应中的 `last_page`（最后一页）时返回错误。 |\n| 3 | 仅总数标志 | count_only | 仅获取总条数 | false | - | 指定为 true 时，响应只返回符合条件的记录总数。 |\n| 4 | 排序 | sort | 定义排序顺序 | 各 API 的默认值 | - | 格式为 `sort=字段1 [asc \\| desc], 字段2 [asc \\| desc], …`。例如：`sort=customer_id asc, customer_name asc, customer_email desc`。未指定时使用各 API 的默认排序。字段不存在或格式错误时返回错误。`count_only` 为 true 时忽略此参数。 |\n\n### 示例 1\n\n使用[客户列表查询 API](https://docs.fincode.jp/api#tag/%E9%A1%A7%E5%AE%A2/operation/retrieveCustomerList)，按客户 ID 升序获取第 2 页数据：\n\n```txt\nhttps://api.test.fincode.jp/v1/customers?page=2&sort=id asc\n```\n\n### 示例 2\n\n使用[客户列表查询 API](https://docs.fincode.jp/api#tag/%E9%A1%A7%E5%AE%A2/operation/retrieveCustomerList)，通过查询条件将创建日期限定为 2023/06/28，并获取第 2 页数据：\n\n```txt\nhttps://api.test.fincode.jp/v1/customers?page=2&created_from=2023/06/28&created_to=2023/06/28\n```\n\n### 示例 3\n\n使用[客户列表查询 API](https://docs.fincode.jp/api#tag/%E9%A1%A7%E5%AE%A2/operation/retrieveCustomerList)，仅获取客户总数：\n\n```txt\nhttps://api.test.fincode.jp/v1/customers?count_only=true\n```"},{"name":"幂等处理","description":"商户可以在 API 请求头 `idempotent_key` 中设置任意的幂等键，以唯一标识一次请求；此后使用相同幂等键发送请求时，将返回与首次请求相同的结果。\n使用此功能可以避免因重复请求而误创建相同资源。\n\n请使用 UUID v4 格式，并确保每次新请求使用唯一值。\n幂等键的有效期为 30 分钟。\n\n### 示例\n\n```txt\nidempotent_key: 1003d6af-9e68-4f4e-a916-663e29db5377\n```"},{"name":"错误对象","description":"发生 HTTP `4xx` 或 `5xx` 错误时，API 会返回统一格式的错误对象。\n`error_message` 表示错误原因，请根据其内容修正请求。\n注意：`error_message` 可能在不事先通知的情况下变更，仅用于协助开发阶段排查问题。\n\n详细信息也可参阅 [Docs 错误码一览](https://docs.fincode.jp/develop_support/error)。\n\n### 示例\n\n错误对象以数组形式放在响应的 `errors` 字段中。\n\n```json\n{\n    \"errors\": [\n        {\n            \"error_code\": \"E123456789\",\n            \"error_message\": \"错误内容 1\"\n        },\n        {\n            \"error_code\": \"E012345678\",\n            \"error_message\": \"错误内容 2\"\n        }\n    ]\n}\n```\n\n| 参数 | | 说明 |\n| --- | --- | --- |\n| errors | | 错误对象数组。 |\n| | error_code | 错误码。程序需要判断错误类型时，建议使用此字段。详情参阅 [Docs > 错误码一览](https://docs.fincode.jp/develop_support/error)。 |\n| | error_message | 错误消息，用于说明错误内容。此值可能在不事先通知的情况下变更。 |"},{"name":"错误","description":"API 请求完成后，会随响应返回以下 HTTP 状态码。\n\n| 状态码 | 含义 | 说明 |\n| --- | --- | --- |\n| 200 | OK | 请求成功。 |\n| 400 | Bad Request | 请求无效。请检查请求参数与 JSON 格式。 |\n| 401 | Unauthorized | 尚未通过认证。请检查 API Key。 |\n| 403 | Forbidden | 没有使用该 API 的权限。请检查访问地址；也可能是超过流量限制，请降低请求速率。 |\n| 404 | Not Found | 指定的 API 不存在。请检查访问地址。 |\n| 405 | Method Not Allowed | 使用了无效的 HTTP 方法。请检查 HTTP 方法。 |\n| 406 | Not Acceptable | 请求的资源只能生成客户端无法接受的内容。请检查 `Accept` 请求头。 |\n| 409 | Conflict | 发生资源冲突，无法处理请求。 |\n| 413 | Payload Too Large | 超过了允许发送的文件大小上限。 |\n| 415 | Unsupported Media Type | 指定了服务器或资源不支持的媒体类型。请检查请求头中的媒体类型。 |\n| 500 | Internal Server Error | 服务器发生错误，无法完成请求。 |\n| 502 | Bad Gateway | 发生网关错误，例如使用代理服务器时，一台服务器从另一台服务器收到了无效响应。 |\n| 503 | Service Unavailable | 系统维护期间正在限制流入请求。 |\n| 504 | Gateway Timeout | 发生网关超时。 |"},{"name":"客户","description":"用于管理客户的 API。在 fincode 中，客户通常与应用中作为购买者的用户账户一一对应。\n可为客户登记并管理姓名、邮箱地址和账单地址，还可关联支付、卡片和支付方式等资源。"},{"name":"卡片","description":"用于管理客户持有卡片的 API。\n卡片中包含信用卡、借记卡或预付卡的有效期与持卡人姓名等信息。执行支付时指定卡片 ID，即可使用该卡片收款。\n\n每个客户最多可登记 5 张卡片。已登记 5 张时，如需登记新卡片，请先删除一张现有卡片。\n\n如需在登记卡片时执行 3D Secure 认证，请使用[登记支付方式 API](#tag/PaymentMethod/operation/createCustomerPaymentMethod)。"},{"name":"支付方式","description":"用于管理客户持有的支付方式（*Payment Method*）的 API。\n执行支付时指定支付方式 ID，即可通过该支付方式收款。\n\n支付方式对象会根据 `pay_type` 参数表示以下信息：\n\n- `Card`：卡片。`card` 参数中包含卡片的详细信息。\n- `Directdebit`：银行账户自动扣款所使用的账户。`directdebit` 参数中包含账户的详细信息。\n- `Virtualaccount`：银行转账（虚拟账户）。`virtualaccount` 参数中包含账户的详细信息。\n\n每个客户最多可为同一种 `pay_type` 登记 5 个支付方式。已登记 5 个时，如需登记新的支付方式，请先删除一个现有支付方式。\n\n卡片 API 目前也能操作卡片信息，但未来计划弃用。新功能或新系统请优先使用支付方式 API。\n\n[查看支付方式的详细说明。](https://docs.fincode.jp/payment/payment_method)"},{"name":"支付","description":"用于执行支付的 API。\n先通过“登记支付”API 将支付信息登记到 fincode，再通过“执行支付”API 实际向购买者（客户）收款。\n\n根据支付方式，执行支付后可能还需要完成 3D Secure 认证或由购买者进行现金缴款等操作。"},{"name":"3D Secure 认证","description":"用于执行 3D Secure 认证的 API。\n3D Secure 是卡片支付中用于防止盗刷的持卡人身份认证机制。\n\n执行支付后，购买者访问 `acs_url` 时，浏览器信息会发送至 fincode 并开始认证流程。认证过程与实现流程请参阅 [Docs > 使用 3D Secure 2.0 认证](https://docs.fincode.jp/payment/fraud_protection/3d_secure_2)。"},{"name":"重定向式支付","description":"用于创建 fincode 托管的重定向式支付页面 URL。\n请求时将 `guide_mail_send_flag`（支付邮件发送标志）设为 `1`（发送），可由 fincode 向客户发送包含该支付页面 URL 的邮件。"},{"name":"重定向式卡片登记","description":"用于创建重定向式卡片登记页面 URL。\n\n- 指定客户 ID（`customer_id`）时，生成用于为该客户登记卡片的页面 URL。\n- 不指定客户 ID 时，先创建新客户，再生成用于为该客户登记卡片的页面 URL。\n\n请求时将 `guide_mail_send_flag`（登记邮件发送标志）设为 `1`（发送），可由 fincode 向客户发送包含该卡片登记页面 URL 的邮件。"},{"name":"套餐","description":"用于管理订阅套餐的 API。\n可登记、获取、更新和删除订阅的收费金额、间隔和频率等套餐信息。"},{"name":"订阅","description":"用于管理订阅的 API。\n可为指定客户登记、更新或取消采用指定套餐的定期定额订阅，也可通过结果查询 API 获取该订阅每次收费的结果列表。\n\n订阅收费采用异步处理。可通过 Webhook 事件 `recurring.card.batch`（执行卡片支付订阅收费）或 `recurring.directdebit.batch`（执行银行账户自动扣款订阅收费）接收收费结果。"},{"name":"批量支付","description":"用于执行批量支付的 API。\n一次请求可登记并预约数千乃至数万笔支付，可用于构建按量收费等业务模式。\n\n批量支付采用异步处理。可通过 Webhook 事件 `payments.bulk.*.batch`（执行批量支付收费）接收收费结果。"},{"name":"账单功能","description":"账单功能相关 API。\n功能详情请参阅[账单说明](/payment/invoice)。\n系统会根据账单信息生成带支付功能的账单和收据。"},{"name":"销售款入账","description":"用于获取商户的销售款入账信息。\n还可获取某笔销售款入账的明细，确认每笔交易对入账金额的影响。"},{"name":"平台使用费收入","description":"用于获取平台使用费产生的销售款入账信息。\n还可指定销售款入账 ID，获取各租户商户入账汇总信息的列表。"},{"name":"拒付","description":"用于获取拒付相关信息的 API。\n拒付详情请参阅 [Docs](https://docs.fincode.jp/business_management/chargeback)。\n\n商户管理后台中的拒付状态可通过 API 的 `status_code` 和 `canceled` 参数判断，对应关系如下：\n\n**需要处理**\n- `status_code`：4005\n- `canceled`：不使用\n\n**已答复**\n- `status_code`：4006、4007、4011\n- `canceled`：不使用\n\n**销售款退回已确定**\n- `status_code`：4009\n- `canceled`：false\n\n**其他（确定后撤销）**\n- `status_code`：4009\n- `canceled`：true"},{"name":"平台商户","description":"用于管理平台商户（主商户与子商户）设置的 API。\n可设置适用于租户的平台使用费，也可获取平台商户列表。"},{"name":"租户商户","description":"用于管理租户商户设置的 API。\n可设置适用于租户的平台使用费，也可获取租户商户列表。"},{"name":"租户申请管理","description":"用于新建租户商户、提交审核信息及上传销售许可证等文件的 API。\n\n<span class=\"attension\">使用条件</span>\n在生产环境使用此 API 前必须向 fincode 提交申请。如需使用，请通过[联系表单](https://form.fincode.jp/contact)说明使用租户申请管理 API 的服务概要，并申请开通功能。测试环境始终可用。"},{"name":"公司印章","description":"用于管理商户公司印章的 API。\n已登记的印章会自动加盖到通过账单功能等生成的账单、收据和账单 Web 页面中。\n图片使用 multipart 格式上传，支持 `png`、`jpg` 和 `jpeg` 扩展名。"},{"name":"Webhook 设置","description":"用于管理 Webhook 设置的 API。\nfincode 发生已指定的事件时，可在配置的端点实时接收通知。\n[查看 Webhook 通知规范](https://docs.fincode.jp/api#tag/Webhook_)\n\n要接收租户事件，必须为每个租户分别登记 Webhook 设置。\n\n| 功能 | 事件 | 事件参数 |\n| --- | --- | --- |\n| 卡片支付 | 登记支付 | payments.card.regist |\n| 卡片支付 | 执行支付 | payments.card.exec |\n| 卡片支付 | 确认销售额 | payments.card.capture |\n| 卡片支付 | 取消 | payments.card.cancel |\n| 卡片支付 | 重新授权 | payments.card.auth |\n| 卡片支付 | 变更金额 | payments.card.change |\n| 3D Secure（卡片支付） | 执行认证 | payments.card.secure2.authenticate |\n| 3D Secure（卡片支付） | 确认挑战结果 | payments.card.secure2.result |\n| 3D Secure（卡片支付） | 执行认证后支付 | payments.card.secure |\n| Apple Pay | 登记支付 | payments.applepay.regist |\n| Apple Pay | 执行支付 | payments.applepay.exec |\n| Apple Pay | 确认销售额 | payments.applepay.capture |\n| Apple Pay | 取消 | payments.applepay.cancel |\n| Google Pay | 登记支付 | payments.googlepay.regist |\n| Google Pay | 执行支付 | payments.googlepay.exec |\n| Google Pay | 确认销售额 | payments.googlepay.capture |\n| Google Pay | 取消 | payments.googlepay.cancel |\n| Google Pay | 重新授权 | payments.googlepay.auth |\n| Google Pay | 变更金额 | payments.googlepay.change |\n| 3D Secure（Google Pay） | 执行认证 | payments.googlepay.secure2.authenticate |\n| 3D Secure（Google Pay） | 确认挑战结果 | payments.googlepay.secure2.result |\n| 3D Secure（Google Pay） | 执行认证后支付 | payments.googlepay.secure |\n| 便利店支付 | 登记支付 | payments.konbini.regist |\n| 便利店支付 | 执行支付 | payments.konbini.exec |\n| 便利店支付 | 取消 | payments.konbini.cancel |\n| 便利店支付 | 付款通知 | payments.konbini.complete |\n| 便利店支付 | 付款通知（模拟） | payments.konbini.complete.stub |\n| 便利店支付 | 超过付款期限 | konbini.expired.update.batch |\n| PayPay | 登记支付 | payments.paypay.regist |\n| PayPay | 执行支付 | payments.paypay.exec |\n| PayPay | 确认销售额 | payments.paypay.capture |\n| PayPay | 取消 | payments.paypay.cancel |\n| PayPay | 变更金额 | payments.paypay.change |\n| PayPay | 付款通知 | payments.paypay.complete |\n| 银行账户自动扣款 | 登记支付 | payments.directdebit.regist |\n| 银行账户自动扣款 | 执行支付 | payments.directdebit.exec |\n| 银行账户自动扣款 | 取消 | payments.directdebit.cancel |\n| 银行账户自动扣款 | 变更金额 | payments.directdebit.change |\n| 银行账户自动扣款 | 扣款通知 | payments.directdebit.complete |\n| 银行账户自动扣款 | 扣款通知（模拟） | payments.directdebit.complete.stub |\n| 银行转账（虚拟账户） | 登记支付 | payments.virtualaccount.regist |\n| 银行转账（虚拟账户） | 执行支付 | payments.virtualaccount.exec |\n| 银行转账（虚拟账户） | 取消 | payments.virtualaccount.cancel |\n| 银行转账（虚拟账户） | 付款通知 | payments.virtualaccount.complete |\n| 银行转账（虚拟账户） | 付款通知（模拟） | payments.virtualaccount.complete.stub |\n| 支付方式（注 2） | 登记 | customers.payment_methods.created |\n| 支付方式（注 1） | 更新 | customers.payment_methods.updated |\n| 支付方式（注 2） | 停用 | customers.payment_methods.inactivated |\n| 支付方式（注 2） | 重新启用 | customers.payment_methods.activated |\n| 支付方式（注 2） | 删除 | customers.payment_methods.deleted |\n| 卡片（注 1） | 登记 | card.regist |\n| 卡片 | 更新 | card.update |\n| 卡片 | 卡片信息自动更新 | card.updater.complete |\n| 订阅（卡片支付） | 登记 | subscription.card.regist |\n| 订阅（卡片支付） | 取消 | subscription.card.delete |\n| 订阅（卡片支付） | 更新 | subscription.card.update |\n| 订阅收费（卡片支付） | 执行 | recurring.card.batch |\n| 订阅（银行账户自动扣款） | 登记 | subscription.directdebit.regist |\n| 订阅（银行账户自动扣款） | 取消 | subscription.directdebit.delete |\n| 订阅（银行账户自动扣款） | 更新 | subscription.directdebit.update |\n| 订阅收费（银行账户自动扣款） | 执行 | recurring.directdebit.batch |\n| 批量支付（卡片支付） | 登记 | payments.bulk.card.regist |\n| 批量支付收费（卡片支付） | 执行 | payments.bulk.card.batch |\n| 批量支付（虚拟账户） | 登记 | payments.bulk.virtualaccount.regist |\n| 批量支付收费（虚拟账户） | 执行 | payments.bulk.virtualaccount.batch |\n| 支付方式签约状态 | 更新 | contracts.status_code.updated |\n| 拒付 | 登记 | charge_backs.regist |\n| 拒付 | 更新 | charge_backs.update |\n| 变更申请 | 登记 | change_requests.regist |\n| 变更申请 | 更新 | change_requests.update |\n\n注 1：要接收重定向式卡片登记 API 的结果通知，必须登记支付方式更新事件（`customers.payment_methods.updated`）的 Webhook 设置。\n注 2：这些事件仅通知虚拟账户支付方式，不会通知卡片或银行账户自动扣款支付方式。"},{"name":"Webhook 通知规范","description":"事件发生时，fincode 向商户所配置的端点 URL 发送 Webhook 请求，本节说明该请求的规范。\n[查看事件列表](https://docs.fincode.jp/api#tag/Webhook)\n随着功能增加，通知参数可能会新增；参数名称不会在没有预告的情况下变更或删除。\n\n使用 Webhook 时，端点必须对 Webhook 请求返回接收成功或失败的响应。\nWebhook 请求因错误而失败时，fincode 会按照重试规则再次发送。"}],"externalDocs":{"description":"fincodeJS 的规格请参阅 JS 参考文档。","url":"/js"},"paths":{"/v1/customers":{"post":{"security":[{"Secret-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"createCustomer","tags":["客户"],"summary":"客户登记","parameters":[{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n将客户信息登记到指定的租户商户名下。"}],"description":"登记客户信息。","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer.Creating.Request"}}}},"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer.Creating.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"name\": \"John Doe\",\n    \"email\": \"john@example.com\"\n}' \\\n'https://api.test.fincode.jp/v1/customers'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    try {\n        // リクエストの送信\n        const customer = await fincode.customers.create({\n            name: \"John Doe\",\n            email: \"john@example.com\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tbody := CreatingCustomerRequest{\n\t\tEmail:   stringPointer(\"john@example.com\"),\n\t\tName:    stringPointer(\"John Doe\"),\n\t\tPhoneCC: stringPointer(\"81\"),\n\t\tPhoneNo: stringPointer(\"1234567890\"),\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"POST\", \"https://api.test.fincode.jp/v1/customers\", bytes.NewBuffer(marshalledBody))\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype CreatingCustomerRequest struct {\n\tID           *string `json:\"id,omitempty\"`\n\tName         *string `json:\"name,omitempty\"`\n\tEmail        *string `json:\"email,omitempty\"`\n\tPhoneCC      *string `json:\"phone_cc,omitempty\"`\n\tPhoneNo      *string `json:\"phone_no,omitempty\"`\n\tAddrCity     *string `json:\"addr_city,omitempty\"`\n\tAddrCountry  *string `json:\"addr_country,omitempty\"`\n\tAddrLine1    *string `json:\"addr_line_1,omitempty\"`\n\tAddrLine2    *string `json:\"addr_line_2,omitempty\"`\n\tAddrLine3    *string `json:\"addr_line_3,omitempty\"`\n\tAddrPostCode *string `json:\"addr_post_code,omitempty\"`\n\tAddrState    *string `json:\"addr_state,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"name\" => \"John Doe\",\n    \"email\" => \"john@example.com\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_POST, true);\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/customers'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"name\": \"John Doe\",\n    \"email\": \"john@example.com\"\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.post(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    endpoint = \"/v1/customers\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        name: \"John Doe\",\n        email: \"john@example.com\",\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]},"get":{"security":[{"Secret-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"retrieveCustomerList","tags":["客户"],"summary":"客户列表查询","description":"获取客户信息列表。可通过查询参数缩小获取范围。","parameters":[{"in":"query","name":"クエリ","description":"获取客户信息列表时使用的查询条件参数。","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/Pagination.QueryParams"},{"$ref":"#/components/schemas/Customer.ListRetrieving.QueryParams"}]}},{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n获取与该租户商户关联的客户列表。"}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer.ListRetrieving.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    try {\n        // リクエストの送信\n        const customers = await fincode.customers.retrieveList({\n            limit: 10,\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"GET\", \"https://api.test.fincode.jp/v1/customers\", nil)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\tparams.Add(\"limit\", \"10\")\n\treq.URL.RawQuery = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers\";\n$queryParams = [\n    \"limit\" => 10,\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . '?' . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/customers'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\nquery_params = { 'limit': 10 }\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    endpoint = \"/v1/customers\"\n    query_params =  { limit: 10 }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]}},"/v1/customers/{id}":{"get":{"security":[{"Secret-Bearer-Auth":[]},{"Public-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"retrieveCustomer","tags":["客户"],"summary":"获取客户","description":"获取由 ID 指定的客户信息。","parameters":[{"name":"id","in":"path","description":"客户 ID。","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"required":true},{"name":"Tenant-Shop-Id","in":"header","schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n从与该租户商户关联的客户中，获取指定 ID 的客户信息。","required":false}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer.Retrieving.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{id}'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const customer = await fincode.customers.retrieve(customerId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"GET\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]},"put":{"security":[{"Secret-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"updateCustomer","tags":["客户"],"summary":"更新客户","description":"更新由 ID 指定的客户信息。","parameters":[{"name":"id","in":"path","description":"客户 ID。","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"required":true},{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n从与该租户商户关联的客户中，更新指定 ID 的客户信息。"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer.Updating.Request"}}}},"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer.Updating.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X PUT \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"name\": \"Jane Doe\",\n    \"email\": \"jane@example.com\"\n}' \\\n'https://api.test.fincode.jp/v1/customers/{id}'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const customer = await fincode.customers.update(customerId, {\n            name: \"Jane Doe\",\n            email: \"jane@example.com\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tbody := UpdatingCustomerRequest{\n\t\tName:  stringPointer(\"Jane Doe\"),\n\t\tEmail: stringPointer(\"jane@example.com\"),\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"PUT\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\t\tbytes.NewBuffer(marshalledBody),\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype UpdatingCustomerRequest struct {\n\tName         *string `json:\"name,omitempty\"`\n\tEmail        *string `json:\"email,omitempty\"`\n\tPhoneCC      *string `json:\"phone_cc,omitempty\"`\n\tPhoneNo      *string `json:\"phone_no,omitempty\"`\n\tAddrCity     *string `json:\"addr_city,omitempty\"`\n\tAddrCountry  *string `json:\"addr_country,omitempty\"`\n\tAddrLine1    *string `json:\"addr_line_1,omitempty\"`\n\tAddrLine2    *string `json:\"addr_line_2,omitempty\"`\n\tAddrLine3    *string `json:\"addr_line_3,omitempty\"`\n\tAddrPostCode *string `json:\"addr_post_code,omitempty\"`\n\tAddrState    *string `json:\"addr_state,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"name\" => \"Jane Doe\",\n    \"email\" => \"jane@example.com\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'PUT');\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"name\": \"Jane Doe\",\n    \"email\": \"jane@example.com\"\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.put(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        name: 'Jane Doe',\n        email: 'jane@example.com',\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Put.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]},"delete":{"security":[{"Secret-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"deleteCustomer","tags":["客户"],"summary":"删除客户","description":"删除由 ID 指定的客户信息。","parameters":[{"name":"id","in":"path","description":"客户 ID。","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"required":true},{"name":"Tenant-Shop-Id","in":"header","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n从与该租户商户关联的客户中，删除指定 ID 的客户信息。"}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer.Deleting.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X DELETE \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{id}'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const result = await fincode.customers.delete(customerId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"DELETE\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.delete(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Delete.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]}},"/v1/customers/{customer_id}/cards":{"post":{"security":[{"Secret-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"tags":["卡片"],"operationId":"createCustomerCard","summary":"卡片登记","description":"为 `customer_id` 指定的客户登记卡片。\n\n<span class=\"smallText\">也可以通过支付方式 API（<code>POST /v1/customers/{customer_id}/payment_methods</code>，<code>pay_type = \"Card\"</code>）登记卡片。新开发时，建议使用支付方式 API，以便采用与银行账户自动扣款、银行转账（虚拟账户）相同的形式进行处理。</span>","parameters":[{"name":"customer_id","in":"path","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"description":"与该卡片关联的客户 ID。","required":true},{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n为与该租户商户关联的客户中，由 ID 指定的客户登记卡片。"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerCard.Creating.Request"}}}},"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerCard.Creating.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"default_flag\": \"1\",\n    \"token\": \"<Token from fincodeJS>\"\n}' \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const card = await fincode.cards.create(customerId, {\n            token: \"<Token from fincodeJS>\",\n            default_flag: \"1\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\tbody := CreatingCustomerCardRequest{\n\t\tToken:       \"<Token from fincodeJS>\",\n\t\tDefaultFlag: \"0\",\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"POST\", fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards\", customerID), bytes.NewBuffer(marshalledBody))\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype CreatingCustomerCardRequest struct {\n\tDefaultFlag string `json:\"default_flag\"`\n\tToken       string `json:\"token\"`\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"token\" => \"613531623566356561366261346366623132306663393139\",\n    \"default_flag\" => \"1\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_POST, true);\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"token\": \"<Token from fincodeJS>\",\n    \"default_flag\": \"1\",\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.post(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}/cards\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        token: '<Token from fincodeJS>',\n        default_flag: '1'\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]},"get":{"security":[{"Secret-Bearer-Auth":[]},{"Public-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"tags":["卡片"],"operationId":"retrieveCustomerCardList","summary":"获取卡片列表","description":"获取与 `customer_id` 指定的客户关联的卡片列表。\n\n<span class=\"smallText\">也可以通过支付方式 API（<code>GET /v1/customers/{customer_id}/payment_methods</code>，<code>pay_type = \"Card\"</code>）获取卡片信息列表。新开发时，建议使用支付方式 API。</span>","parameters":[{"name":"customer_id","in":"path","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"description":"客户 ID。\n获取与该客户关联的卡片列表。","required":true},{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n获取与该租户商户关联的指定客户已登记的卡片列表。"}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerCard.ListRetrieving.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const cards = await fincode.cards.retrieveList(customerId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"GET\", fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards\", customerID), nil)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"from calendar import c\nimport requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}/cards\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]}},"/v1/customers/{customer_id}/cards/{id}":{"get":{"security":[{"Secret-Bearer-Auth":[]},{"Public-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"tags":["卡片"],"operationId":"retrieveCustomerCard","summary":"获取卡片","description":"从与 `customer_id` 指定的客户关联的卡片中，获取由 `id` 指定的卡片。\n\n<span class=\"smallText\">也可以通过支付方式 API（<code>GET /v1/customers/{customer_id}/payment_methods/{id}</code>，<code>pay_type = \"Card\"</code>）获取卡片信息。新开发时，建议使用支付方式 API。</span>","parameters":[{"name":"customer_id","in":"path","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"description":"与该卡片关联的客户 ID。","required":true},{"name":"id","in":"path","schema":{"allOf":[{"$ref":"#/components/schemas/CardId_schema"}]},"description":"要获取的卡片 ID。","required":true},{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n从与该租户商户关联的指定客户已登记的卡片中获取目标卡片。"}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerCard.Retrieving.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n    const cardId = \"<Card ID>\";\n\n    try {\n        // リクエストの送信\n        const card = await fincode.cards.retrieve(customerId, cardId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tcardID := \"<Card ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"GET\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards/%s\", customerID, cardID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$cardId = '<Card ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards/{$cardId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\ncard_id = '<Card ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    card_id = '<Card ID>'\n    \n    endpoint = \"/v1/customers/#{customer_id}/cards/#{card_id}\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]},"put":{"security":[{"Secret-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"tags":["卡片"],"operationId":"updateCustomerCard","summary":"更新卡片","description":"从与 `customer_id` 指定的客户关联的卡片中，更新由 `id` 指定的卡片。\n\n<span class=\"smallText\">也可以通过支付方式 API（<code>PUT /v1/customers/{customer_id}/payment_methods/{id}</code>，<code>pay_type = \"Card\"</code>）更新卡片信息。新开发时，建议使用支付方式 API。</span>","parameters":[{"name":"customer_id","in":"path","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"description":"与该卡片关联的客户 ID。","required":true},{"name":"id","in":"path","schema":{"allOf":[{"$ref":"#/components/schemas/CardId_schema"}]},"description":"要更新的卡片 ID。","required":true},{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n更新与该租户商户关联的指定客户已登记的卡片信息。"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerCard.Updating.Request"}}}},"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerCard.Updating.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X PUT \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"default_flag\": \"1\",\n}' \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n    const cardId = \"<Card ID>\";\n\n    try {\n        // リクエストの送信\n        const card = await fincode.cards.update(customerId, cardId, {\n            default_flag: \"0\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tbody := UpdatingCustomerCardRequest{\n\t\tDefaultFlag: stringPointer(\"1\"),\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"PUT\", \"https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}\", bytes.NewBuffer(marshalledBody))\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype UpdatingCustomerCardRequest struct {\n\tDefaultFlag *string `json:\"default_flag,omitempty\"`\n\tToken       *string `json:\"token,omitempty\"`\n\tHolderName  *string `json:\"holder_name,omitempty\"`\n\tExpire      *string `json:\"expire,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$cardId = '<Card ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards/{$cardId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$data = json_encode([\n    \"default_flag\" => \"0\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'PUT');\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\ncard_id = '<Card ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"default_flag\": \"0\",\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.put(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    card_id = '<Card ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/cards/#{card_id}\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        default_flag: '0'\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Put.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]},"delete":{"tags":["卡片"],"operationId":"deleteCustomerCard","summary":"删除卡片","description":"从与 `customer_id` 指定的客户关联的卡片中，删除由 `id` 指定的卡片。\n\n<span class=\"smallText\">也可以通过支付方式 API（<code>DELETE /v1/customers/{customer_id}/payment_methods/{id}</code>，<code>pay_type = \"Card\"</code>）删除卡片信息。新开发时，建议使用支付方式 API。</span>","parameters":[{"name":"customer_id","in":"path","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"description":"与该卡片关联的客户 ID。","required":true},{"name":"id","in":"path","schema":{"allOf":[{"$ref":"#/components/schemas/CardId_schema"}]},"description":"要删除的卡片 ID。","required":true},{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n删除与该租户商户关联的指定客户已登记的卡片。"}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerCard.Deleting.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X DELETE \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'\n"},{"lang":"node","label":"Node.js","source":"import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n    const cardId = \"<Card ID>\";\n\n    try {\n        // リクエストの送信\n        const result = await fincode.cards.delete(customerId, cardId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tcardID := \"<Card ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"DELETE\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards/%s\", customerID, cardID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$cardId = '<Card ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards/{$cardId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\ncard_id = '<Card ID>' \n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.delete(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    card_id = '<Card ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/cards/#{card_id}\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Delete.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]}},"/v1/cards":{"get":{"security":[{"Secret-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"tags":["卡片"],"operationId":"retrieveCardList","summary":"获取卡片列表（按客户信息共享组）","description":"按客户信息共享组获取卡片信息列表。","parameters":[{"in":"query","name":"クエリ","description":"获取卡片信息列表时使用的查询条件参数。","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/Pagination.QueryParams"},{"$ref":"#/components/schemas/Card.ListRetrieving.QueryParams"}]}},{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n从与该租户商户关联的客户信息共享组所拥有的卡片信息中获取列表。"}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Card.ListRetrieving.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/cards?limit=10&page=1&customer_id=<Customer ID>'\n"},{"lang":"node","label":"Node.js","source":"import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const endpoint = new URL(`${BASE_URL}/v1/cards`);\n    endpoint.search = new URLSearchParams({\n        limit: \"10\",\n        page: \"1\",\n        customer_id: \"<Customer ID>\",\n    }).toString();\n\n    const response = await fetch(endpoint, {\n        method: \"GET\",\n        headers: {\n            Authorization: `Bearer ${API_KEY}`,\n        },\n    });\n    const cards = await response.json();\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"GET\", \"https://api.test.fincode.jp/v1/cards\", nil)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\tparams.Add(\"limit\", \"10\")\n\tparams.Add(\"page\", \"1\")\n\tparams.Add(\"customer_id\", \"<Customer ID>\")\n\treq.URL.RawQuery = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/cards\";\n$queryParams = [\n    \"limit\" => 10,\n    \"page\" => 1,\n    \"customer_id\" => '<Customer ID>',\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . '?' . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/cards'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\nquery_params = {\n    'limit': 10,\n    'page': 1,\n    'customer_id': '<Customer ID>',\n}\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    endpoint = \"/v1/cards\"\n    query_params = {\n        limit: 10,\n        page: 1,\n        customer_id: '<Customer ID>'\n    }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]}},"/v1/customers/{customer_id}/payment_methods":{"post":{"security":[{"Secret-Bearer-Auth":[]},{"Public-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"createCustomerPaymentMethod","tags":["支付方式"],"summary":"登记支付方式","description":"为 `customer_id` 指定的客户登记支付方式。","parameters":[{"name":"customer_id","in":"path","description":"客户 ID。","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"required":true},{"name":"Tenant-Shop-Id","in":"header","schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n为与该租户商户关联的客户中，由 ID 指定的客户登记支付方式。"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentMethod.Creating.Request"}}}},"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentMethod.Creating.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"pay_type\": \"Directdebit\",\n    \"default_flag\": \"1\",\n    \"return_url\": \"https://your-service.example.com/return\",\n    \"directdebit\":  {\n        \"application_type\": \"ONLINE\",\n        \"bank_code\": \"0310\",\n        \"branch_code\": \"000\",\n        \"account_type\": \"1\",\n        \"account_number\": \"0999999\",\n        \"account_name_kana\": \"ナマエカナ\"\n    }\n}' \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\tbody := CreatingPaymentMethodRequest{\n\t\tPayType:     \"Directdebit\",\n\t\tDefaultFlag: \"1\",\n\t\tReturnURL:   \"https://your-service.example.com/return\",\n\t\tDirectdebit: Directdebit{\n\t\t\tApplicationType: \"ONLINE\",\n\t\t\tBankCode:        \"0310\",\n\t\t\tBranchCode:      stringPointer(\"000\"),\n\t\t\tAccountType:     stringPointer(\"1\"),\n\t\t\tAccountNumber:   stringPointer(\"0999999\"),\n\t\t\tAccountNameKana: \"ナマエカナ\",\n\t\t},\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\turl := fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods\", customerID)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"POST\",\n\t\turl,\n\t\tbytes.NewBuffer(marshalledBody),\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype CreatingPaymentMethodRequest struct {\n\tPayType     string      `json:\"pay_type\"`\n\tDefaultFlag string      `json:\"default_flag\"`\n\tDirectdebit Directdebit `json:\"directdebit\"`\n\tReturnURL   string      `json:\"return_url\"`\n}\n\ntype Directdebit struct {\n\tApplicationType  string            `json:\"application_type\"`\n\tBankCode         string            `json:\"bank_code\"`\n\tBranchCode       *string           `json:\"branch_code,omitempty\"`\n\tAccountType      *string           `json:\"account_type,omitempty\"`\n\tAccountNumber    *string           `json:\"account_number,omitempty\"`\n\tAccountName      *string           `json:\"account_name,omitempty\"`\n\tAccountNameKana  string            `json:\"account_name_kana\"`\n\tPaperApplication *PaperApplication `json:\"paper_application,omitempty\"`\n}\n\ntype PaperApplication struct {\n\tPostalAccountNumber1 *string `json:\"postal_account_number_1,omitempty\"`\n\tPostalAccountNumber2 *string `json:\"postal_account_number_2,omitempty\"`\n\tRequestFormId        string  `json:\"request_form_id\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n}\n"},{"lang":"node","label":"Node.js","source":"import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods`;\n\n    const response = await fetch(endpoint, {\n        method: \"POST\",\n        headers: {\n            Authorization: `Bearer ${API_KEY}`,\n            \"Content-Type\": \"application/json\",\n        },\n        body: JSON.stringify({\n            pay_type: \"Directdebit\",\n            default_flag: \"1\",\n            return_url: \"https://your-service.example.com/return\",\n            directdebit: {\n                application_type: \"ONLINE\",\n                bank_code: \"0310\",\n                branch_code: \"000\",\n                account_type: \"1\",\n                account_number: \"0999999\",\n                account_name_kana: \"ナマエカナ\",\n            },\n        }),\n    });\n    const paymentMethods = await response.json();\n})();\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/payment_methods\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"pay_type\" => \"Directdebit\",\n    \"default_flag\" => \"1\",\n    \"return_url\" => \"https://your-service.example.com/return\",\n    \"directdebit\" => [\n        \"application_type\" => \"ONLINE\",\n        \"bank_code\" => \"0310\",\n        \"branch_code\" => \"000\",\n        \"account_type\" => \"1\",\n        \"account_number\" => \"0999999\",\n        \"account_name_kana\" => \"ナマエカナ\"\n    ]\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_POST, true);\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"pay_type\": \"Directdebit\",\n    \"default_flag\": \"1\",\n    \"return_url\": \"https://your-service.example.com/return\",\n    \"directdebit\": {\n        \"application_type\": \"ONLINE\",\n        \"bank_code\": \"0310\",\n        \"branch_code\": \"000\",\n        \"account_type\": \"1\",\n        \"account_number\": \"0999999\",\n        \"account_name_kana\": \"ナマエカナ\"\n    }\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.post(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}/payment_methods\"\n    \n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        pay_type: \"Directdebit\",\n        default_flag: \"1\",\n        return_url: \"https://your-service.example.com/return\",\n        directdebit: {\n            application_type: \"ONLINE\",\n            bank_code: \"9999\",\n            branch_code: \"000\",\n            account_type: \"1\",\n            account_number: \"0999999\",\n            account_name_kana: \"ナマエカナ\"\n        }   \n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]},"get":{"security":[{"Secret-Bearer-Auth":[]},{"Public-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"retrieveCustomerPaymentMethodList","tags":["支付方式"],"summary":"获取支付方式列表","description":"获取与 `customer_id` 指定的客户关联的支付方式列表。","parameters":[{"name":"customer_id","in":"path","description":"客户 ID。","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"required":true},{"name":"クエリ","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/CustomerPaymentMethod.ListRetrieving.QueryParams"}]},"description":"获取支付方式列表时使用的查询条件参数。"},{"in":"header","name":"Tenant-Shop-Id","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n获取与该租户商户关联的指定客户所拥有的支付方式列表。"}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentMethod.ListRetrieving.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods?pay_type=Directdebit'\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"GET\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods\", customerID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\tparams.Add(\"pay_type\", \"Directdebit\")\n\treq.URL.RawQuery = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"},{"lang":"node","label":"Node.js","source":"import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods`;\n\n    const response = await fetch(endpoint, {\n        method: \"GET\",\n        headers: {\n            Authorization: `Bearer ${API_KEY}`,\n        },\n    });\n    const paymentMethods = await response.json();\n})();\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/payment_methods\";\n$queryParams = [\n    \"pay_type\" => \"Directdebit\",\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . \"?\" . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'\nquery_params = {\n    'pay_type': 'Directdebit',\n}\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/payment_methods\"\n    query_params =  { \n        limit: 10,\n        pay_type: 'Directdebit',\n    }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]}},"/v1/customers/{customer_id}/payment_methods/{id}":{"get":{"security":[{"Secret-Bearer-Auth":[]},{"Public-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"retrieveCustomerPaymentMethod","tags":["支付方式"],"summary":"获取支付方式","description":"从与 `customer_id` 指定的客户关联的支付方式中，获取由 `id` 指定的支付方式。","parameters":[{"name":"customer_id","in":"path","description":"客户 ID。","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"required":true},{"name":"id","in":"path","description":"支付方式 ID。\n<span class=\"smallText\">当 `pay_type = Card`（卡片）时，ID 以 `cs_` 开头。</span>","schema":{"allOf":[{"$ref":"#/components/schemas/PaymentMethodId_schema"}]},"required":true,"examples":{"payment_method":{"$ref":"#/components/examples/payment_method"},"card":{"$ref":"#/components/examples/card"}}},{"name":"Tenant-Shop-Id","in":"header","schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n从与该租户商户关联的指定客户所拥有的支付方式中，获取由 ID 指定的支付方式。"},{"name":"クエリ","in":"query","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/CustomerPaymentMethod.Retrieving.QueryParams"}]},"description":"获取支付方式时使用的查询条件参数。"}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentMethod.Retrieving.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods/{id}?pay_type=Card'\n"},{"lang":"node","label":"Node.js","source":"import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n    const paymentMethodId = \"<Payment Method ID>\";\n\n    const queryParams = new URLSearchParams({\n        pay_type: \"Card\",\n    });\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods/${paymentMethodId}?${queryParams}`;\n\n    const response = await fetch(endpoint, {\n        method: \"GET\",\n        headers: {\n            Authorization: `Bearer ${API_KEY}`,\n        },\n    });\n    const paymentMethod = await response.json();\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tpaymentMethodID := \"<Payment Method ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"GET\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods/%s\", customerID, paymentMethodID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\tparams.Add(\"pay_type\", \"Card\")\n\treq.URL.RawQuery = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$paymentMethodId = '<Payment Method ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/payment_methods/{$paymentMethodId}\";\n$queryParams = [\n    \"pay_type\" => \"Card\",\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . '?' . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\npayment_method_id = '<Payment Method ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods/{payment_method_id}/'\nquery_params = {\n    'pay_type': 'Card',\n}\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    payment_method_id = '<Payment Method ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/payment_methods/#{payment_method_id}\"\n    query_params =  {\n        limit: 10,\n        pay_type: 'Card',\n    }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]},"delete":{"security":[{"Secret-Bearer-Auth":[]},{"Public-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"deleteCustomerPaymentMethod","tags":["支付方式"],"summary":"删除支付方式","description":"从与 `customer_id` 指定的客户关联的支付方式中，删除由 `id` 指定的支付方式。","parameters":[{"name":"customer_id","in":"path","description":"客户 ID。","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"required":true},{"name":"id","in":"path","description":"支付方式 ID。\n<span class=\"smallText\">当 `pay_type = Card`（卡片）时，ID 以 `cs_` 开头。</span>","schema":{"allOf":[{"$ref":"#/components/schemas/PaymentMethodId_schema"}]},"required":true,"examples":{"payment_method":{"$ref":"#/components/examples/payment_method"},"card":{"$ref":"#/components/examples/card"}}},{"name":"Tenant-Shop-Id","in":"header","schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n从与该租户商户关联的指定客户所拥有的支付方式中，删除由 ID 指定的支付方式。"},{"in":"query","name":"pay_type","required":true,"description":"支付类型：\n\n- `Card`：卡片\n- `Directdebit`：银行账户自动扣款\n- `Virtualaccount`：银行转账（虚拟账户）","schema":{"type":"string","minLength":1,"maxLength":50}}],"responses":{"200":{"description":"请求成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentMethod.Deleting.Response"}}}},"400":{"description":"请求无效","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FincodeAPIError.Response"}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl \\\n    -X DELETE \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods/{id}?pay_type=Card'\n"},{"lang":"node","label":"Node.js","source":"import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n    const paymentMethodId = \"<Payment Method ID>\";\n\n    const queryParams = new URLSearchParams({\n        pay_type: \"Card\",\n    });\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods/${paymentMethodId}?${queryParams}`;\n\n    const response = await fetch(endpoint, {\n        method: \"DELETE\",\n        headers: {\n            Authorization: `Bearer ${API_KEY}`,\n        },\n    });\n    const result = await response.json();\n})();\n"},{"lang":"go","label":"Go","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tpaymentMethodID := \"<Payment Method ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"DELETE\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods/%s\", customerID, paymentMethodID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\tparams.Add(\"pay_type\", \"Card\")\n\treq.URL.RawQuery = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n}\n"},{"lang":"php","label":"PHP","source":"<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$paymentMethodId = '<Payment Method ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/payment_methods/{$paymentMethodId}\";\n$queryParams = [\n    \"pay_type\" => \"Card\",\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . \"?\" . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"},{"lang":"python","label":"Python 3","source":"import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\npayment_method_id = '<Payment Method ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods/{payment_method_id}/'\nquery_params = {\n    'pay_type': 'Card',\n}\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.delete(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"},{"lang":"ruby","label":"Ruby","source":"require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    payment_method_id = '<Payment Method ID>'\n    \n    endpoint = \"/v1/customers/#{customer_id}/payment_methods/#{payment_method_id}\"\n    query_params =  {\n        limit: 10,\n        pay_type: 'Card',\n    }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Delete.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"}]},"put":{"security":[{"Secret-Bearer-Auth":[]},{"Public-Bearer-Auth":[]},{"Secret-Basic-Auth":[]}],"operationId":"updateCustomerPaymentMethod","tags":["支付方式"],"summary":"更新支付方式","description":"从与 `customer_id` 指定的客户关联的支付方式中，更新由 `id` 指定的支付方式。","parameters":[{"name":"customer_id","in":"path","description":"客户 ID。","schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId_schema"}]},"required":true},{"name":"id","in":"path","description":"支付方式 ID。\n<span class=\"smallText\">当 `pay_type = Card`（卡片）时，ID 以 `cs_` 开头。</span>","schema":{"allOf":[{"$ref":"#/components/schemas/PaymentMethodId_schema"}]},"required":true,"examples":{"payment_method":{"$ref":"#/components/examples/payment_method"},"card":{"$ref":"#/components/examples/card"}}},{"name":"Tenant-Shop-Id","in":"header","schema":{"allOf":[{"$ref":"#/components/schemas/schema"}]},"description":"<span class=\"smallText color--red-400\">仅当平台主商户不共享客户信息时可指定</span>\n租户商户 ID。\n从与该租户商户关联的指定客户所拥有的支付方式中，更新由 ID 指定的支付方式。\n<span class=\"smallText\">译注：官方日文原文此处写作“删除”，结合本接口用途按“更新”翻译。</span>"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["pay_type"],"properties":{"pay_type":{"type":"string","minLength":1,"maxLength":50,"description":"決済種別\n\n* `Card` - カード\n* `Virtualaccount` - 銀行振込（バーチャル口座）\n\n<span class=\"smallText\">\n  ※ 現時点では<code>Card</code>（カード）、<code>Virtualaccount</code>（銀行振込（バーチャル口座））のみ指定可能です。\n</span>\n"},"default_flag":{"type":"string","enum":["1"],"minLength":1,"maxLength":1,"description":"デフォルトフラグ\n* `1` - デフォルト\n"},"return_url":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/return_url"}],"description":"<span class=\"smallText\">仅当 `pay_type = \"Card\"` 时可指定。</span>"},"return_url_on_failure":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/return_url_on_failure"}],"description":"<span class=\"smallText\">仅当 `pay_type = \"Card\"` 时可指定。</span>"},"client_field_1":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/client_field_1"}],"description":"加盟店自由項目 1\\\n<span class=\"smallText\">※ `pay_type = \"Card\"`のとき指定可能</span>\n"},"client_field_2":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/client_field_2"}],"description":"加盟店自由項目 2\\\n<span class=\"smallText\">※ `pay_type = \"Card\"`のとき指定可能</span>\n"},"client_field_3":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/client_field_3"}],"description":"加盟店自由項目 3\\\n<span class=\"smallText\">※ `pay_type = \"Card\"`のとき指定可能</span>\n"},"card":{"type":"object","nullable":true,"description":"<span class=\"smallText\">※ `pay_type = \"Card\"`のとき指定可能。カード情報自体（カード番号）は変更できません。省略した場合は`default_flag`/`client_field_*`のみが更新されます。</span>\n","properties":{"token":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/token"}],"description":"カードトークン\\\n<span class=\"smallText\">指定した場合、トークンを用いてカード情報（有効期限・セキュリティコード等）を更新します。`expire`/`holder_name`/`security_code`を直接指定する場合は省略可能です。</span>\n"},"expire":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/properties-expire"}],"description":"カード有効期限\\\n<span class=\"smallText\">`token`未指定時は必須</span>\\\n形式：`YYMM`\n"},"holder_name":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/properties-holder_name"}],"description":"カード名義人名\\\n<span class=\"smallText\">`token`未指定時のみ指定可能</span>\n"},"security_code":{"nullable":true,"type":"string","minLength":1,"maxLength":6,"example":"123","description":"セキュリティコード\\\n<span class=\"smallText\">`token`未指定時のみ指定可能</span>\n"},"card_updater_mode":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/card_updater_mode"}],"description":"洗替対象設定\\\n<span class=\"smallText\">洗替対象設定を変更する場合のみ指定します（省略可能）</span>\n\n- `enabled`：カード更新する\n- `disabled`：カード更新しない\n- `inherit`：ショップ設定に準ずる（デフォルト）\n"},"tds_type":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds_type"}],"description":"是否使用 3D Secure 进行支付。\n\n- `0`：不使用（默认）\n- `2`：使用 3D Secure 2.0"},"tds2_type":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_type"}]},"td_tenant_name":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/td_tenant_name"}]},"tds2_ret_url":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_ret_url"}]},"tds2_ch_acc_change":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_ch_acc_change"}]},"tds2_ch_acc_date":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_ch_acc_date"}]},"tds2_ch_acc_pw_change":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_ch_acc_pw_change"}]},"tds2_nb_purchase_account":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_nb_purchase_account"}]},"tds2_payment_acc_age":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_payment_acc_age"}]},"tds2_provision_attempts_day":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_provision_attempts_day"}]},"tds2_ship_address_usage":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_ship_address_usage"}]},"tds2_ship_name_ind":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_ship_name_ind"}]},"tds2_suspicious_acc_activity":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_suspicious_acc_activity"}]},"tds2_txn_activity_day":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_txn_activity_day"}]},"tds2_txn_activity_year":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_txn_activity_year"}]},"tds2_three_ds_req_auth_data":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_three_ds_req_auth_data"}]},"tds2_three_ds_req_auth_method":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_three_ds_req_auth_method"}]},"tds2_three_ds_req_auth_timestamp":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_three_ds_req_auth_timestamp"}]},"tds2_email":{"allOf":[{"$ref":"#/components/schemas/tds2_email"}]},"tds2_addr_match":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_addr_match"}]},"tds2_bill_addr_country":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_bill_addr_country"}]},"tds2_bill_addr_state":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_bill_addr_state"}]},"tds2_bill_addr_city":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_bill_addr_city"}]},"tds2_bill_addr_line_1":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_bill_addr_line_1"}]},"tds2_bill_addr_line_2":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_bill_addr_line_2"}]},"tds2_bill_addr_line_3":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_bill_addr_line_3"}]},"tds2_bill_addr_post_code":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_bill_addr_post_code"}]},"tds2_ship_addr_country":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_ship_addr_country"}]},"tds2_ship_addr_state":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/tds2_
[...]
