openapi: 3.0.2
info:
  title: fincode API
  description: |
    fincodeのAPIリファレンスです。\
    fincodeは決済情報のほか様々なリソースを管理できるため、リソース指向なREST APIをベースとしたインターフェイス設計のもとでAPIを提供しています。\
    APIの呼び出しにはAPIキーによる認証が必要であり、リクエストの際に`Authorization`ヘッダーに有効なAPIキーをセットすることで認証できます。
  version: 1.4.0
servers:
  - url: https://api.fincode.jp
    description: 本番環境
  - url: https://api.test.fincode.jp
    description: テスト環境
tags:
  - name: 文字コード
    description: |
      fincodeのリクエスト・レスポンスの文字コードはUTF-8が使用されます。
      | 文字コード | 備考 |
      | --- | --- |
      | UTF-8 | fincodeのリクエスト・レスポンスの文字コードはUTF-8が使用されます。 |
    x-trailTag: true
  - name: リクエストヘッダー
    description: |
      fincodeのAPIリクエストを行う際に指定可能なリクエストヘッダーの一覧です。
      | ヘッダー | 指定方法 | 説明 |
      | --- | --- | --- |
      | `Api-Version` | YYYYMMDD | APIのマイナーバージョンを指定できます。（現在は`20211001`）<br />指定が無い場合は最新のものが自動で使用されます。 |
      | `Authorization` | Bearer {{API キー}} <br />または Basic {{Base64エンコード済みAPIキー}} | APIキーを指定します。Bearer認証またはBasic認証が使用できます。|
      | `Content-Type` | application/json;charset=UTF-8 | リクエストボディのContent-Typeを指定します。 |
      | `idempotent_key`| UUID v4 | リクエストの冪等性を担保するためのキーを指定します。詳しくは[冪等処理](https://docs.fincode.jp/api#tag/%E5%86%AA%E7%AD%89%E5%87%A6%E7%90%86)で解説されています。 |
      | `Tenant-Shop-Id` | テナントのショップID | ※プラットフォーム向け<br />テナントショップの決済を行うときなど、プラットフォームショップがテナントショップとしてAPIを実行する場合、そのテナントのショップIDを指定します。|
  - name: ページネーション
    description: |
      一覧取得系のAPIは大量データの送信を防ぐためにページング機能が実装されています。\
      取得対象の件数が10件以上の場合、デフォルトでは最大10件まで取得します。\
      以降のデータを取得したい場合や10件以上のデータを取得したい場合、クエリパラメータでpageやlimitを指定することで取得できます。\
      また、取得したいデータを絞るために検索条件を指定することができます。検索できる項目は各APIによって異なります。

      | No | 項目名               | パラメータ    | 内容                               | デフォルト             | 範囲       | 処理条件                                                                                                       |
      |----|----------------------|---------------|------------------------------------|------------------------|------------|---------------------------------------------------------------------------------------------------------------|
      | 1  | 取得件数             | limit         | 1ページの最大件数                 | 10                     | 10-100     | 指定されない場合デフォルト値が適用されます。<br>データ範囲外はエラーになります。                                                                    |
      | 2  | ページ               | page          | ページ数                           | 1                      | 1-9999     | 指定されない場合デフォルト値が適用されます。<br>レスポンスのlast_page（最終ページ）より大きい数字を指定した場合はエラーを返却します。             |
      | 3  | 総件数のみフラグ     | count_only    | 総件数のみを取得する               | false                  | -          | trueが指定された場合は、指定された条件に合致するレコード総件数のみをレスポンスとして返却します。                                                    |
      | 4  | ソート               | sort          | ソート順の定義                     | APIのデフォルト値      | -          | sort=項目名1 [asc \| desc], 項目名2 [asc \| desc], …<br>例) sort=customer_id asc, customer_name asc, customer_email desc<br>指定がない場合は各API デフォルトのソート順となります。<br>指定された項目がないまたはフォーマットが不正な場合はエラーになります。<br>総件数のみフラグがtrueの場合、このリクエストは無視されます。 |

      ### サンプル①
      [顧客 一覧取得API](https://docs.fincode.jp/api#tag/%E9%A1%A7%E5%AE%A2/operation/retrieveCustomerList)で顧客IDを昇順にソートして、2ページ目のデータを取得する例
      ```txt
      https://api.test.fincode.jp/v1/customers?page=2&sort=id asc
      ```

      ### サンプル②
      [顧客 一覧取得API](https://docs.fincode.jp/api#tag/%E9%A1%A7%E5%AE%A2/operation/retrieveCustomerList)で検索条件で作成日を2023/06/28に限定して、2ページ目のデータを取得する例
      ```txt
      https://api.test.fincode.jp/v1/customers?page=2&created_from=2023/06/28&created_to=2023/06/28
      ```

      ### サンプル③
      [顧客 一覧取得API](https://docs.fincode.jp/api#tag/%E9%A1%A7%E5%AE%A2/operation/retrieveCustomerList)で顧客の総件数のみを取得する例
      ```txt
      https://api.test.fincode.jp/v1/customers?count_only=true
      ```
  - name: 冪等処理
    description: |
      加盟店様がAPIリクエストのリクエストヘッダー`idempotent_key`に冪等キー（任意）を設定することで、リクエストを一意に特定し、2回目以降のリクエストで同じ結果を返却します。
      本機能を利用すると同じリソースが誤って二重に作られてしまうような事態を避けることができます。

      UUIDv4形式で、リクエスト毎にユニークになるよう値を指定してください。  
      冪等キーの有効期限は30分です。

      ### サンプル
      ```txt
      idempotent_key: 1003d6af-9e68-4f4e-a916-663e29db5377
      ```
  - name: エラーオブジェクト
    description: |
      HTTPステータスコード`4xx`系と`5xx`系のエラーが発生した場合、API共通のエラーオブジェクトを返します。\
      `error_message`の値がエラー原因に該当します。内容に応じて修正してください。 \
      ※`error_message`は予告無く変更される場合があります。開発時の問題解決の為にご利用下さい。\
      \
      [DOCSのエラーコード一覧](https://docs.fincode.jp/develop_support/error)からも詳細を確認できます。

      ### サンプル, エラーは`errors`の値として配列形式でレスポンスされます。
      ```json
      {
          "errors": [
              {
                  "error_code": "E123456789",
                  "error_message": "エラー内容1"
              },
              {
                  "error_code": "E012345678",
                  "error_message": "エラー内容2"
              },
          ]
      }
      ```

      | パラメータ | | 説明 |
      | --- | --- | ---|
      | errors | | エラーオブジェクトの配列です。 |
      | | error_code | エラーコードです。プログラムで判定する場合はこちらを利用することが推奨されます。<br />詳細は[Docs > エラーコード一覧](https://docs.fincode.jp/develop_support/error)を参照してください。|
      | | error_message | エラーメッセージです。エラーの内容を示します。<br />この値は予告なく変更される可能性があります。|
  - name: エラー
    description: |
      APIリクエスト後、以下のHTTPステータスコードとともにレスポンスがされます。
      | ステータスコード | 意味 | 説明 |
      | --- | --- | --- |
      | 200              | OK                       | リクエストが成功しました。                                                                       |
      | 400              | Bad Request              | 不正なリクエストです。リクエストパラメータとJSONの形式を確認してください。                      |
      | 401              | Unauthorized             | 認証されていません。APIキーを確認してください。                                                  |
      | 403              | Forbidden                | APIを使用する権限がありません。アクセス先を確認してください。または流量制限を超えている可能性があります。リクエストレートを減らしてください。 |
      | 404              | Not Found                | 指定したAPIが存在しません。アクセス先を確認してください。                                        |
      | 405              | Method Not Allowed       | 無効なHTTPメソッドへの要求です。HTTPメソッドを確認してください。                                 |
      | 406              | Not Acceptable           | 要求されたリソースが受け入れられないコンテンツしか生成できないことを意味します。Acceptヘッダーを確認してください。 |
      | 409              | Conflict                 | リソースの競合が発生しています。要求を処理できませんでした。                                      |
      | 413              | Payload Too Large        | 送信できるファイルサイズの上限を超えています。                                                   |
      | 415              | Unsupported Media Type   | サーバーまたはリソースがサポートしていないメディアタイプが指定されました。リクエストヘッダーのメディアタイプを確認してください。 |
      | 500              | Internal Server Error    | サーバーでエラーが発生したため、要求を完了できませんでした。                                      |
      | 502              | Bad Gateway              | ゲートウェイエラーです。プロキシサーバーの使用中など、あるサーバーが別のサーバーから無効なリクエストを受信したことを意味します。 |
      | 503              | Service Unavailable      | メンテナンス中による流入制限です。                                                               |
      | 504              | Gateway Timeout          | ゲートウェイタイムアウトが発生しました。                                                         |
  - name: 顧客
    description: |
      顧客を管理するAPIです。fincodeにおける顧客は多くのアプリケーションにおいて購入者となるユーザーアカウントに1:1で紐づけられます。\
      顧客には名前やメールアドレス、請求先住所を登録し管理でき、決済やカード情報・決済手段などのリソースが関連付けられます。
  - name: カード
    description: |
      顧客が持つカードを管理するAPIです。\
      カードにはクレジットカード/デビッドカード/プリペイドカードの有効期限や名義などの情報が含まれており、決済の実行時にカードのIDを指定することでそのカードに対して請求（決済）を行います。\
      \
      1つの顧客に対してカード情報は最大5件まで登録可能です。5件登録している状態で新しいカードを登録する場合は、既存のカードを削除してから再度登録してください。\
      \
      ※ カード登録時に3Dセキュア認証を行う場合は、[決済手段 登録API](#tag/PaymentMethod/operation/createCustomerPaymentMethod)を使用します。
  - name: 決済手段
    description: |
      顧客が持つ決済手段（*Payment Method*）を管理するAPIです。\
      決済実行の際に決済手段のIDを指定することで、その決済手段に対し請求（決済）をします。\
      \
      決済手段オブジェクトは`pay_type`パラメータの値によって下記の情報を表現します。

      - `Card`: この決済手段はカードを表します。`card`パラメータ内にカードに関する詳細な情報が含まれます。
      - `Directdebit`: この決済手段は口座振替における振替用口座を表します。`directdebit`パラメータ内に口座に関する詳細な情報が含まれます。
      - `Virtualaccount`: この決済手段は銀行振込（バーチャル口座）を表します。`virtualaccount`パラメータ内に口座に関する詳細な情報が含まれます。

      1つの顧客に対して同一`pay_type`の決済手段は最大5件まで登録可能です。5件登録している状態で新しい決済手段を登録する場合は、既存の決済手段を削除してから再度登録してください。\
      \
      ※カード情報の操作はカードAPIでも可能ですが、今後は非推奨となる予定です。新規実装および機能追加を行う場合は、決済手段APIの利用を推奨します。\
      \
      [更に詳しく解説したドキュメントをこちらから参照できます。](https://docs.fincode.jp/payment/payment_method)
  - name: 決済
    description: |
      決済を行うAPIです。\
      決済 登録APIで決済情報をfincodeに登録し、決済 実行APIで実際に購入者（顧客）に対して請求を行います。\
      \
      決済手段によっては決済実行後、3Dセキュア認証や購入者による現金払い込みなどが必要になります。
  - name: 3Dセキュア認証
    description: |
      3Dセキュア認証を行うAPIです。\
      3Dセキュア認証はカード決済において不正利用を防止するために使用される本人認証の仕組みです。\
      \
      決済実行後、購入者が`acs_url`にアクセスすると、ブラウザ情報がfincodeへ送信され認証プロセスが開始します。認証のプロセスと実装のフローに関しては[Docs > 3Dセキュア2.0認証を使用する](https://docs.fincode.jp/payment/fraud_protection/3d_secure_2)から参照できます。
  - name: リダイレクト型決済
    description: |
      fincodeが提供するリダイレクト型決済URLを作成するAPIです。\
      リクエスト時に`guide_mail_send_flag`（決済メール送信フラグ）に`1`（送信する）を指定することでリダイレクト型決済URLを添付したメールをfincodeから送信させられます。
  - name: リダイレクト型カード登録
    description: |
      リダイレクト型カード登録URLを作成するAPIです。

      - 顧客ID（`customer_id`）を指定して作成した場合、その顧客に対してカードを登録するためのカード登録URLを発行します。
      - 顧客IDを指定しなかった場合、顧客を新たに作成しその顧客に対してカードを登録するためのカード登録URLを発行します。

      リクエスト時に`guide_mail_send_flag`（登録メール送信フラグ）に`1`（送信する）を指定することでリダイレクト型カード登録URLを添付したメールをfincodeから送信させられます。
  - name: プラン
    description: |
      サブスクリプションのプランを管理するAPIです。\
      サブスクリプション請求の金額・間隔・頻度などのプラン情報を登録・取得・更新・削除できます。
  - name: サブスクリプション
    description: |
      サブスクリプションを管理するAPIです。\
      指定した顧客に対して指定したプランで定期・定額で請求を行うサブスクリプションを登録・更新・削除できるほか、結果照会APIを用いてあるサブスクリプションによって発生した毎回の課金の結果を一覧で取得することもできます。\
      \
      サブスクリプション課金の処理は非同期で行われ、Webhookイベント`recurring.card.batch`（サブスクリプション課金（カード決済） 実行）や`recurring.directdebit.batch`（サブスクリプション課金（口座振替） 実行）で課金結果を受け取ることができます。
  - name: 一括決済
    description: |
      一括決済を行うAPIです。\
      数千・数万件単位の決済を1回のリクエストで登録・予約することができ、従量課金のビジネスモデルの構築などに利用できます。\
      \
      一括決済の処理は非同期で行われ、Webhookイベント`payments.bulk.*.batch`（一括決済課金 実行）で課金結果を受け取ることができます。
  - name: インボイス機能
    description: |
      インボイス機能に関するAPI群です。\
      機能の詳細は[こちら](/payment/invoice)をご確認ください。\
      インボイス情報をもとに決済機能付きの請求書と領収書が発行されます。
  - name: 売上入金
    description: |
      ショップの売上入金を取得できます。\
      また、ある売上入金の詳細情報を取得し、取引1件ごとの入金額への影響を確認することもできます。
  - name: プラットフォーム利用料収入
    description: |
      プラットフォーム利用料による売上入金を取得できます。\
      また、ある売上入金のIDを指定して、テナントショップごとの入金のサマリー情報を一覧取得することもできます。
  - name: チャージバック
    description: |
      チャージバックに関する情報を取得できるAPIです。\
      チャージバックに関する詳細は[Docs](https://docs.fincode.jp/business_management/chargeback)をご確認ください。

      ショップ管理画面のチャージバックステータスは、APIの`status_code`と`canceled`パラメータで取得できます。\
      ステータスごとの対応は以下の通りです。

      **要対応**
      - `status_code`: 4005
      - `canceled`: 使用なし

      **回答済み**
      - `status_code`: 4006、4007、4011
      - `canceled`: 使用なし

      **売上返還確定**
      - `status_code`: 4009
      - `canceled`: false

      **その他（確定後取消）**
      - `status_code`: 4009
      - `canceled`: true
  - name: プラットフォームショップ
    description: |
      プラットフォームショップ（メインショップ・サブショップ）の設定を管理するAPIです。\
      テナントに対し適用するプラットフォーム利用料金の設定や、プラットフォームショップの一覧取得などができます。
  - name: テナントショップ
    description: |
      テナントショップの設定を管理するAPIです。\
      テナントに対し適用するプラットフォーム利用料金の設定や、テナントショップの一覧取得などができます。
  - name: テナント申請管理
    description: |
      テナントショップの新規作成や審査情報の提出、販売免許等のアップロードなどを行えるAPIです。\
      \
      <span class="attension">このAPIの利用について</span>\
      このAPIを本番環境で利用するためにはfincodeへの申請が必要です。利用を希望する場合は[問い合わせフォーム](https://form.fincode.jp/contact) からテナント申請管理APIを利用するサービスの概要をお知らせの上、機能開放をリクエストしてください。（テスト環境では常時利用できます。）
  - name: 社印
    description: |
      ショップに紐づく社印を管理するAPIです。\
      登録された社印は、インボイス機能などで発行される請求書・領収書・インボイスWEBページに自動で押印されます。\
      画像はマルチパート形式でアップロードします。サポートする拡張子は `png` / `jpg` / `jpeg` です。
  - name: Webhook設定
    description: |
      Webhook設定を管理するAPIです。\
      fincode上で指定したイベントが発生した場合、指定したエンドポイントでリアルタイムで通知を受け取れます。\
      [Webhook通知仕様はこちら](https://docs.fincode.jp/api#tag/Webhook_)\
      \
      ※1 テナントのイベントを受けとるためにはテナントごとにWebhook設定を登録する必要があります。

      | 機能                         | イベント名                  | イベントパラメータ                         |
      |----------------------------|--------------------------|-----------------------------------------|
      | カード決済                     | 決済登録                     | payments.card.regist                   |
      | カード決済                     | 決済実行                     | payments.card.exec                     |
      | カード決済                     | 売上確定                     | payments.card.capture                  |
      | カード決済                     | キャンセル                     | payments.card.cancel                   |
      | カード決済                     | 再オーソリ                     | payments.card.auth                     |
      | カード決済                     | 金額変更                     | payments.card.change                   |
      | 3Dセキュア（カード決済）                     | 認証実行                     | payments.card.secure2.authenticate     |
      | 3Dセキュア（カード決済）                     | チャレンジ結果確定               | payments.card.secure2.result           |
      | 3Dセキュア（カード決済）                     | 認証後決済実行                 | payments.card.secure                   |
      | Apple Pay                   | 決済登録                     | payments.applepay.regist               |
      | Apple Pay                   | 決済実行                     | payments.applepay.exec                 |
      | Apple Pay                   | 売上確定                     | payments.applepay.capture              |
      | Apple Pay                   | キャンセル                     | payments.applepay.cancel               |
      | Google Pay                     | 決済登録                     | payments.googlepay.regist                   |
      | Google Pay                     | 決済実行                     | payments.googlepay.exec                     |
      | Google Pay                     | 売上確定                     | payments.googlepay.capture                  |
      | Google Pay                     | キャンセル                     | payments.googlepay.cancel                   |
      | Google Pay                     | 再オーソリ                     | payments.googlepay.auth                     |
      | Google Pay                     | 金額変更                     | payments.googlepay.change                   |
      | 3Dセキュア（Google Pay）                     | 認証実行                     | payments.googlepay.secure2.authenticate     |
      | 3Dセキュア（Google Pay）                     | チャレンジ結果確定               | payments.googlepay.secure2.result           |
      | 3Dセキュア（Google Pay）                     | 認証後決済実行                 | payments.googlepay.secure                   |
      | コンビニ決済                   | 決済登録                     | payments.konbini.regist                |
      | コンビニ決済                   | 決済実行                     | payments.konbini.exec                  |
      | コンビニ決済                   | キャンセル                     | payments.konbini.cancel                |
      | コンビニ決済                   | 支払通知                     | payments.konbini.complete              |
      | コンビニ決済                   | 支払通知（シミュレート）         | payments.konbini.complete.stub         |
      | コンビニ決済                   | 支払い期限切れ                 | konbini.expired.update.batch           |
      | PayPay                      | 決済登録                     | payments.paypay.regist                 |
      | PayPay                      | 決済実行                     | payments.paypay.exec                   |
      | PayPay                      | 売上確定                     | payments.paypay.capture                |
      | PayPay                      | キャンセル                     | payments.paypay.cancel                 |
      | PayPay                      | 金額変更                     | payments.paypay.change                 |
      | PayPay                      | 支払通知                     | payments.paypay.complete               |
      | 口座振替                     | 決済登録                     | payments.directdebit.regist            |
      | 口座振替                     | 決済実行                     | payments.directdebit.exec              |
      | 口座振替                     | キャンセル                     | payments.directdebit.cancel            |
      | 口座振替                     | 金額変更                     | payments.directdebit.change            |
      | 口座振替                     | 引き落とし通知                 | payments.directdebit.complete          |
      | 口座振替                     | 引き落とし通知（シミュレート）     | payments.directdebit.complete.stub     |
      | 銀行振込（バーチャル口座）      | 決済登録                     | payments.virtualaccount.regist         |
      | 銀行振込（バーチャル口座）      | 決済実行                     | payments.virtualaccount.exec           |
      | 銀行振込（バーチャル口座）      | キャンセル                     | payments.virtualaccount.cancel         |
      | 銀行振込（バーチャル口座）      | 支払通知                 | payments.virtualaccount.complete       |
      | 銀行振込（バーチャル口座）      | 支払通知（シミュレート）     | payments.virtualaccount.complete.stub  |
      | 決済手段（※3）                     | 登録                        | customers.payment_methods.created      |
      | 決済手段（※2）                     | 更新                        | customers.payment_methods.updated      |
      | 決済手段（※3）                     | 停止                        | customers.payment_methods.inactivated  |
      | 決済手段（※3）                     | 再有効化                        | customers.payment_methods.activated    |
      | 決済手段（※3）                     | 削除                        | customers.payment_methods.deleted      |
      | カード（※2）                       | 登録                        | card.regist                            |
      | カード                       | 更新                        | card.update                            |
      | カード                       | カード更新機能（洗替）                 | card.updater.complete                  |
      | サブスクリプション（カード決済）  | 登録                        | subscription.card.regist               |
      | サブスクリプション（カード決済）  | 解約                        | subscription.card.delete               |
      | サブスクリプション（カード決済）  | 更新                        | subscription.card.update               |
      | サブスクリプション課金（カード決済）| 実行                        | recurring.card.batch                   |
      | サブスクリプション（口座振替）      | 登録                        | subscription.directdebit.regist        |
      | サブスクリプション（口座振替）      | 解約                        | subscription.directdebit.delete        |
      | サブスクリプション（口座振替）      | 更新                        | subscription.directdebit.update        |
      | サブスクリプション課金（口座振替）  | 実行                        | recurring.directdebit.batch            |
      | 一括決済（カード決済）           | 登録                        | payments.bulk.card.regist              |
      | 一括決済課金（カード決済）         | 実行                        | payments.bulk.card.batch               |
      | 一括決済（バーチャル口座）           | 登録                        | payments.bulk.virtualaccount.regist              |
      | 一括決済課金（バーチャル口座）         | 実行                        | payments.bulk.virtualaccount.batch               |
      | 決済手段 契約状況              | 更新                        | contracts.status_code.updated          |
      | チャージバック                 | 登録                        | charge_backs.regist                    |
      | チャージバック                 | 更新                        | charge_backs.update                    |
      | 変更申請                       | 登録                        | change_requests.regist                 |
      | 変更申請                       | 更新                        | change_requests.update                 |

      ※2 リダイレクト型カード登録APIの結果通知を受け取るには決済手段 更新（customers.payment_methods.updated）のWebhook設定を登録する必要があります。\
      ※3 このイベントにおいて通知される決済手段はバーチャル口座のみです。カード、口座振替は通知されません。
  - name: Webhook_通知仕様
    description: |
      イベントが発生したときに、fincodeから加盟店様が設定したエンドポイントURLへWebhookのリクエストを送信するときの仕様です。\
      [イベント一覧はこちら](https://docs.fincode.jp/api#tag/Webhook)\
      ※通知対象のパラメータは、機能追加等に伴い追加される可能性があります。\
      ※予告なくパラメータ名の変更、削除が行われることはありません。\
      \
      Webhookを利用する場合は、正常受信または受信失敗のレスポンスをWebhookのリクエストに対して返却する必要があります。\
      Webhookのリクエストがエラーで失敗した場合は、リトライ仕様に従って再送します。
externalDocs:
  description: fincodeJSの仕様はこちらの JSリファレンス から確認できます。
  url: /js
paths:
  /v1/customers:
    post:
      security:
        - Secret-Bearer-Auth: []
        - Secret-Basic-Auth: []
      operationId: createCustomer
      tags:
        - 顧客
      summary: 顧客 登録
      parameters:
        - in: header
          name: Tenant-Shop-Id
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            指定したテナントショップに紐づく形で顧客情報を登録します。
      description: |
        顧客情報を登録します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer.Creating.Request'
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.Creating.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X POST \
                -H "Authorization:Bearer <Secret API Key>" \
                -H "Content-Type: application/json" \
                -d '{
                "name": "John Doe",
                "email": "john@example.com"
            }' \
            'https://api.test.fincode.jp/v1/customers'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                try {
                    // リクエストの送信
                    const customer = await fincode.customers.create({
                        name: "John Doe",
                        email: "john@example.com",
                    });
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tbody := CreatingCustomerRequest{\n\t\tEmail:   stringPointer(\"john@example.com\"),\n\t\tName:    stringPointer(\"John Doe\"),\n\t\tPhoneCC: stringPointer(\"81\"),\n\t\tPhoneNo: stringPointer(\"1234567890\"),\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"POST\", \"https://api.test.fincode.jp/v1/customers\", bytes.NewBuffer(marshalledBody))\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype CreatingCustomerRequest struct {\n\tID           *string `json:\"id,omitempty\"`\n\tName         *string `json:\"name,omitempty\"`\n\tEmail        *string `json:\"email,omitempty\"`\n\tPhoneCC      *string `json:\"phone_cc,omitempty\"`\n\tPhoneNo      *string `json:\"phone_no,omitempty\"`\n\tAddrCity     *string `json:\"addr_city,omitempty\"`\n\tAddrCountry  *string `json:\"addr_country,omitempty\"`\n\tAddrLine1    *string `json:\"addr_line_1,omitempty\"`\n\tAddrLine2    *string `json:\"addr_line_2,omitempty\"`\n\tAddrLine3    *string `json:\"addr_line_3,omitempty\"`\n\tAddrPostCode *string `json:\"addr_post_code,omitempty\"`\n\tAddrState    *string `json:\"addr_state,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers";
            $headers = [
                "Authorization: Bearer " . $apiKey,
                "Content-Type: application/json"
            ];

            $data = json_encode([
                "name" => "John Doe",
                "email" => "john@example.com"
            ]);

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_POST, true);
            curl_setopt($session, CURLOPT_POSTFIELDS, $data);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            url = f'https://api.test.fincode.jp/v1/customers'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
                'Content-Type': 'application/json'
            }

            data = {
                "name": "John Doe",
                "email": "john@example.com"
            }

            # HTTP POSTリクエストの送信
            try:
                response = requests.post(url, headers=headers, json=data)

                # レスポンスの処理
                if response.status_code == 200:
                    # 成功した場合の処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'
            require 'json'


            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                endpoint = "/v1/customers"
                uri = URI.parse(BASE_URL + endpoint)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                data = {
                    name: "John Doe",
                    email: "john@example.com",
                }

                # リクエストの作成
                request = Net::HTTP::Post.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"
                request['Content-Type'] = 'application/json'

                request.body = data.to_json

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
    get:
      security:
        - Secret-Bearer-Auth: []
        - Secret-Basic-Auth: []
      operationId: retrieveCustomerList
      tags:
        - 顧客
      summary: 顧客 一覧取得
      description: |
        顧客情報を一覧で取得します。クエリパラメータを指定して取得する条件を絞り込めます。
      parameters:
        - in: query
          name: クエリ
          description: |
            顧客情報の一覧取得において検索条件となるクエリパラメータ
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/Pagination.QueryParams'
              - $ref: '#/components/schemas/Customer.ListRetrieving.QueryParams'
        - in: header
          name: Tenant-Shop-Id
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客から一覧で取得します。
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.ListRetrieving.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X GET \
                -H "Authorization:Bearer <Secret API Key>" \
            'https://api.test.fincode.jp/v1/customers'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                try {
                    // リクエストの送信
                    const customers = await fincode.customers.retrieveList({
                        limit: 10,
                    });
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"GET\", \"https://api.test.fincode.jp/v1/customers\", nil)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\tparams.Add(\"limit\", \"10\")\n\treq.URL.RawQuery = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers";
            $queryParams = [
                "limit" => 10,
            ];

            $headers = [
                "Authorization: Bearer " . $apiKey,
            ];

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . '?' . http_build_query($queryParams));
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_HTTPGET, true);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            url = f'https://api.test.fincode.jp/v1/customers'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
            }
            query_params = { 'limit': 10 }

            try:
                response = requests.get(url, headers=headers, params=query_params)

                # レスポンスの処理
                if response.status_code == 200:
                    # APIからのデータを処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'

            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                endpoint = "/v1/customers"
                query_params =  { limit: 10 }

                uri = URI.parse(BASE_URL + endpoint)
                uri.query = URI.encode_www_form(query_params)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                # リクエストの作成
                request = Net::HTTP::Get.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
  /v1/customers/{id}:
    get:
      security:
        - Secret-Bearer-Auth: []
        - Public-Bearer-Auth: []
        - Secret-Basic-Auth: []
      operationId: retrieveCustomer
      tags:
        - 顧客
      summary: 顧客 取得
      description: |
        IDで指定した顧客情報を取得します。
      parameters:
        - name: id
          in: path
          description: 顧客ID
          schema:
            allOf:
              - $ref: '#/components/schemas/CustomerId_schema'
          required: true
        - name: Tenant-Shop-Id
          in: header
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客のうち、指定したIDの顧客情報を取得します。
          required: false
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.Retrieving.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X GET \
                -H "Authorization:Bearer <Secret API Key>" \
            'https://api.test.fincode.jp/v1/customers/{id}'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                const customerId = "<Customer ID>";

                try {
                    // リクエストの送信
                    const customer = await fincode.customers.retrieve(customerId);
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"GET\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $customerId = '<Customer ID>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers/{$customerId}";
            $headers = [
                "Authorization: Bearer " . $apiKey,
            ];

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_HTTPGET, true);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            customer_id = '<Customer ID>'

            url = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
            }

            try:
                response = requests.get(url, headers=headers)

                # レスポンスの処理
                if response.status_code == 200:
                    # APIからのデータを処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'

            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                customer_id = '<Customer ID>'
                endpoint = "/v1/customers/#{customer_id}"

                uri = URI.parse(BASE_URL + endpoint)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                # リクエストの作成
                request = Net::HTTP::Get.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
    put:
      security:
        - Secret-Bearer-Auth: []
        - Secret-Basic-Auth: []
      operationId: updateCustomer
      tags:
        - 顧客
      summary: 顧客 更新
      description: |
        IDで指定した顧客情報を更新します。
      parameters:
        - name: id
          in: path
          description: 顧客ID
          schema:
            allOf:
              - $ref: '#/components/schemas/CustomerId_schema'
          required: true
        - in: header
          name: Tenant-Shop-Id
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客のうち、指定したIDの顧客情報を更新します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer.Updating.Request'
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.Updating.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X PUT \
                -H "Authorization:Bearer <Secret API Key>" \
                -H "Content-Type: application/json" \
                -d '{
                "name": "Jane Doe",
                "email": "jane@example.com"
            }' \
            'https://api.test.fincode.jp/v1/customers/{id}'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                const customerId = "<Customer ID>";

                try {
                    // リクエストの送信
                    const customer = await fincode.customers.update(customerId, {
                        name: "Jane Doe",
                        email: "jane@example.com",
                    });
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tbody := UpdatingCustomerRequest{\n\t\tName:  stringPointer(\"Jane Doe\"),\n\t\tEmail: stringPointer(\"jane@example.com\"),\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"PUT\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\t\tbytes.NewBuffer(marshalledBody),\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype UpdatingCustomerRequest struct {\n\tName         *string `json:\"name,omitempty\"`\n\tEmail        *string `json:\"email,omitempty\"`\n\tPhoneCC      *string `json:\"phone_cc,omitempty\"`\n\tPhoneNo      *string `json:\"phone_no,omitempty\"`\n\tAddrCity     *string `json:\"addr_city,omitempty\"`\n\tAddrCountry  *string `json:\"addr_country,omitempty\"`\n\tAddrLine1    *string `json:\"addr_line_1,omitempty\"`\n\tAddrLine2    *string `json:\"addr_line_2,omitempty\"`\n\tAddrLine3    *string `json:\"addr_line_3,omitempty\"`\n\tAddrPostCode *string `json:\"addr_post_code,omitempty\"`\n\tAddrState    *string `json:\"addr_state,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';


            $customerId = '<Customer ID>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers/{$customerId}";
            $headers = [
                "Authorization: Bearer " . $apiKey,
                "Content-Type: application/json"
            ];

            $data = json_encode([
                "name" => "Jane Doe",
                "email" => "jane@example.com"
            ]);

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_CUSTOMREQUEST, 'PUT');
            curl_setopt($session, CURLOPT_POSTFIELDS, $data);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            customer_id = '<Customer ID>'

            url = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
                'Content-Type': 'application/json'
            }

            data = {
                "name": "Jane Doe",
                "email": "jane@example.com"
            }

            # HTTP POSTリクエストの送信
            try:
                response = requests.put(url, headers=headers, json=data)

                # レスポンスの処理
                if response.status_code == 200:
                    # 成功した場合の処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'
            require 'json'


            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                customer_id = '<Customer ID>'
                endpoint = "/v1/customers/#{customer_id}"
                uri = URI.parse(BASE_URL + endpoint)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                data = {
                    name: 'Jane Doe',
                    email: 'jane@example.com',
                }

                # リクエストの作成
                request = Net::HTTP::Put.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"
                request['Content-Type'] = 'application/json'

                request.body = data.to_json

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
    delete:
      security:
        - Secret-Bearer-Auth: []
        - Secret-Basic-Auth: []
      operationId: deleteCustomer
      tags:
        - 顧客
      summary: 顧客 削除
      description: |
        IDで指定した顧客情報を削除します。
      parameters:
        - name: id
          in: path
          description: 顧客ID
          schema:
            allOf:
              - $ref: '#/components/schemas/CustomerId_schema'
          required: true
        - name: Tenant-Shop-Id
          in: header
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客のうち、指定したIDの顧客情報を削除します。
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer.Deleting.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X DELETE \
                -H "Authorization:Bearer <Secret API Key>" \
            'https://api.test.fincode.jp/v1/customers/{id}'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                const customerId = "<Customer ID>";

                try {
                    // リクエストの送信
                    const result = await fincode.customers.delete(customerId);
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"DELETE\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $customerId = '<Customer ID>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers/{$customerId}";
            $headers = [
                "Authorization: Bearer " . $apiKey,
            ];

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_CUSTOMREQUEST, 'DELETE');
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            customer_id = '<Customer ID>'

            url = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
            }

            try:
                response = requests.delete(url, headers=headers)

                # レスポンスの処理
                if response.status_code == 200:
                    # APIからのデータを処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'

            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                customer_id = '<Customer ID>'

                endpoint = "/v1/customers/#{customer_id}"

                uri = URI.parse(BASE_URL + endpoint)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                # リクエストの作成
                request = Net::HTTP::Delete.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
  /v1/customers/{customer_id}/cards:
    post:
      security:
        - Secret-Bearer-Auth: []
        - Secret-Basic-Auth: []
      tags:
        - カード
      operationId: createCustomerCard
      summary: カード 登録
      description: |
        `customer_id`で指定した顧客に対しカードを登録します。

        <span class="smallText">※ カードの登録は決済手段API（<code>POST /v1/customers/{customer_id}/payment_methods</code>, <code>pay_type = "Card"</code>）でも行えます。新規に実装する場合は、口座振替・銀行振込（バーチャル口座）と同じ形式で扱える決済手段APIの利用を推奨します。</span>
      parameters:
        - name: customer_id
          in: path
          schema:
            allOf:
              - $ref: '#/components/schemas/CustomerId_schema'
          description: このカードが紐づく顧客のID
          required: true
        - in: header
          name: Tenant-Shop-Id
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客のうち、指定したIDの顧客に対してカードを登録します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCard.Creating.Request'
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.Creating.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X POST \
                -H "Authorization:Bearer <Secret API Key>" \
                -H "Content-Type: application/json" \
                -d '{
                "default_flag": "1",
                "token": "<Token from fincodeJS>"
            }' \
            'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                const customerId = "<Customer ID>";

                try {
                    // リクエストの送信
                    const card = await fincode.cards.create(customerId, {
                        token: "<Token from fincodeJS>",
                        default_flag: "1",
                    });
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\tbody := CreatingCustomerCardRequest{\n\t\tToken:       \"<Token from fincodeJS>\",\n\t\tDefaultFlag: \"0\",\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"POST\", fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards\", customerID), bytes.NewBuffer(marshalledBody))\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype CreatingCustomerCardRequest struct {\n\tDefaultFlag string `json:\"default_flag\"`\n\tToken       string `json:\"token\"`\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $customerId = '<Customer ID>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers/{$customerId}/cards";
            $headers = [
                "Authorization: Bearer " . $apiKey,
                "Content-Type: application/json"
            ];

            $data = json_encode([
                "token" => "613531623566356561366261346366623132306663393139",
                "default_flag" => "1"
            ]);

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_POST, true);
            curl_setopt($session, CURLOPT_POSTFIELDS, $data);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            customer_id = '<Customer ID>'

            url = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
                'Content-Type': 'application/json'
            }

            data = {
                "token": "<Token from fincodeJS>",
                "default_flag": "1",
            }

            # HTTP POSTリクエストの送信
            try:
                response = requests.post(url, headers=headers, json=data)

                # レスポンスの処理
                if response.status_code == 200:
                    # 成功した場合の処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'
            require 'json'


            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                customer_id = '<Customer ID>'
                endpoint = "/v1/customers/#{customer_id}/cards"
                uri = URI.parse(BASE_URL + endpoint)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                data = {
                    token: '<Token from fincodeJS>',
                    default_flag: '1'
                }

                # リクエストの作成
                request = Net::HTTP::Post.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"
                request['Content-Type'] = 'application/json'

                request.body = data.to_json

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
    get:
      security:
        - Secret-Bearer-Auth: []
        - Public-Bearer-Auth: []
        - Secret-Basic-Auth: []
      tags:
        - カード
      operationId: retrieveCustomerCardList
      summary: カード 一覧取得
      description: |
        `customer_id`で指定した顧客に対し紐づくカードを一覧で取得します。

        <span class="smallText">※ カード情報の一覧は決済手段API（<code>GET /v1/customers/{customer_id}/payment_methods</code>, <code>pay_type = "Card"</code>）でも取得できます。新規に実装する場合は決済手段APIの利用を推奨します。</span>
      parameters:
        - name: customer_id
          in: path
          schema:
            allOf:
              - $ref: '#/components/schemas/CustomerId_schema'
          description: |
            顧客ID。 \
            この顧客に紐づくカードを一覧で取得します。
          required: true
        - in: header
          name: Tenant-Shop-Id
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客のうち、指定したIDの顧客に対して登録されたカードの一覧を取得します。
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.ListRetrieving.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X GET \
                -H "Authorization:Bearer <Secret API Key>" \
            'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                const customerId = "<Customer ID>";

                try {
                    // リクエストの送信
                    const cards = await fincode.cards.retrieveList(customerId);
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"GET\", fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards\", customerID), nil)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $customerId = '<Customer ID>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers/{$customerId}/cards";
            $headers = [
                "Authorization: Bearer " . $apiKey,
            ];

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_HTTPGET, true);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            from calendar import c
            import requests

            api_key = '<Secret API Key>'

            customer_id = '<Customer ID>'

            url = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
            }

            try:
                response = requests.get(url, headers=headers)

                # レスポンスの処理
                if response.status_code == 200:
                    # APIからのデータを処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'

            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                customer_id = '<Customer ID>'
                endpoint = "/v1/customers/#{customer_id}/cards"

                uri = URI.parse(BASE_URL + endpoint)
                uri.query = URI.encode_www_form(query_params)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                # リクエストの作成
                request = Net::HTTP::Get.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
  /v1/customers/{customer_id}/cards/{id}:
    get:
      security:
        - Secret-Bearer-Auth: []
        - Public-Bearer-Auth: []
        - Secret-Basic-Auth: []
      tags:
        - カード
      operationId: retrieveCustomerCard
      summary: カード 取得
      description: |
        `customer_id`で指定した顧客に対し紐づくカードのうち`id`で指定したものを取得します。

        <span class="smallText">※ カード情報の取得は決済手段API（<code>GET /v1/customers/{customer_id}/payment_methods/{id}</code>, <code>pay_type = "Card"</code>）でも行えます。新規に実装する場合は決済手段APIの利用を推奨します。</span>
      parameters:
        - name: customer_id
          in: path
          schema:
            allOf:
              - $ref: '#/components/schemas/CustomerId_schema'
          description: このカードが紐づく顧客のID
          required: true
        - name: id
          in: path
          schema:
            allOf:
              - $ref: '#/components/schemas/CardId_schema'
          description: 取得するカードのID
          required: true
        - in: header
          name: Tenant-Shop-Id
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客のうち、指定したIDの顧客に対して登録されたカードから取得します。
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.Retrieving.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X GET \
                -H "Authorization:Bearer <Secret API Key>" \
            'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                const customerId = "<Customer ID>";
                const cardId = "<Card ID>";

                try {
                    // リクエストの送信
                    const card = await fincode.cards.retrieve(customerId, cardId);
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tcardID := \"<Card ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"GET\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards/%s\", customerID, cardID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $customerId = '<Customer ID>';
            $cardId = '<Card ID>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers/{$customerId}/cards/{$cardId}";
            $headers = [
                "Authorization: Bearer " . $apiKey,
            ];

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_HTTPGET, true);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            customer_id = '<Customer ID>'
            card_id = '<Card ID>'

            url = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
            }

            try:
                response = requests.get(url, headers=headers)

                # レスポンスの処理
                if response.status_code == 200:
                    # APIからのデータを処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'

            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                customer_id = '<Customer ID>'
                card_id = '<Card ID>'
                
                endpoint = "/v1/customers/#{customer_id}/cards/#{card_id}"

                uri = URI.parse(BASE_URL + endpoint)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                # リクエストの作成
                request = Net::HTTP::Get.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
    put:
      security:
        - Secret-Bearer-Auth: []
        - Secret-Basic-Auth: []
      tags:
        - カード
      operationId: updateCustomerCard
      summary: カード 更新
      description: |
        `customer_id`で指定した顧客に対し紐づくカードのうち`id`で指定したものを更新します。

        <span class="smallText">※ カード情報の更新は決済手段API（<code>PUT /v1/customers/{customer_id}/payment_methods/{id}</code>, <code>pay_type = "Card"</code>）でも行えます。新規に実装する場合は決済手段APIの利用を推奨します。</span>
      parameters:
        - name: customer_id
          in: path
          schema:
            allOf:
              - $ref: '#/components/schemas/CustomerId_schema'
          description: このカードが紐づく顧客のID
          required: true
        - name: id
          in: path
          schema:
            allOf:
              - $ref: '#/components/schemas/CardId_schema'
          description: 更新するカードのID
          required: true
        - in: header
          name: Tenant-Shop-Id
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客のうち、指定したIDの顧客に対して登録されたカードの情報を更新します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCard.Updating.Request'
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.Updating.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X PUT \
                -H "Authorization:Bearer <Secret API Key>" \
                -H "Content-Type: application/json" \
                -d '{
                "default_flag": "1",
            }' \
            'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                const customerId = "<Customer ID>";
                const cardId = "<Card ID>";

                try {
                    // リクエストの送信
                    const card = await fincode.cards.update(customerId, cardId, {
                        default_flag: "0",
                    });
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tbody := UpdatingCustomerCardRequest{\n\t\tDefaultFlag: stringPointer(\"1\"),\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"PUT\", \"https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}\", bytes.NewBuffer(marshalledBody))\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype UpdatingCustomerCardRequest struct {\n\tDefaultFlag *string `json:\"default_flag,omitempty\"`\n\tToken       *string `json:\"token,omitempty\"`\n\tHolderName  *string `json:\"holder_name,omitempty\"`\n\tExpire      *string `json:\"expire,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $customerId = '<Customer ID>';
            $cardId = '<Card ID>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers/{$customerId}/cards/{$cardId}";
            $headers = [
                "Authorization: Bearer " . $apiKey,
            ];

            $data = json_encode([
                "default_flag" => "0"
            ]);

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_CUSTOMREQUEST, 'PUT');
            curl_setopt($session, CURLOPT_POSTFIELDS, $data);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            customer_id = '<Customer ID>'
            card_id = '<Card ID>'

            url = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
                'Content-Type': 'application/json'
            }

            data = {
                "default_flag": "0",
            }

            # HTTP POSTリクエストの送信
            try:
                response = requests.put(url, headers=headers, json=data)

                # レスポンスの処理
                if response.status_code == 200:
                    # 成功した場合の処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'
            require 'json'


            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                customer_id = '<Customer ID>'
                card_id = '<Card ID>'

                endpoint = "/v1/customers/#{customer_id}/cards/#{card_id}"
                uri = URI.parse(BASE_URL + endpoint)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                data = {
                    default_flag: '0'
                }

                # リクエストの作成
                request = Net::HTTP::Put.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"
                request['Content-Type'] = 'application/json'

                request.body = data.to_json

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
    delete:
      tags:
        - カード
      operationId: deleteCustomerCard
      summary: カード 削除
      description: |
        `customer_id`で指定した顧客に対し紐づくカードのうち`id`で指定したものを削除します。

        <span class="smallText">※ カード情報の削除は決済手段API（<code>DELETE /v1/customers/{customer_id}/payment_methods/{id}</code>, <code>pay_type = "Card"</code>）でも行えます。新規に実装する場合は決済手段APIの利用を推奨します。</span>
      parameters:
        - name: customer_id
          in: path
          schema:
            allOf:
              - $ref: '#/components/schemas/CustomerId_schema'
          description: このカードが紐づく顧客のID
          required: true
        - name: id
          in: path
          schema:
            allOf:
              - $ref: '#/components/schemas/CardId_schema'
          description: 削除するカードのID
          required: true
        - in: header
          name: Tenant-Shop-Id
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客のうち、指定したIDの顧客に対して登録されたカードを削除します。
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCard.Deleting.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X DELETE \
                -H "Authorization:Bearer <Secret API Key>" \
            'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'
        - lang: node
          label: Node.js
          source: |
            import { createFincode } from "@fincode/node";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });

                const customerId = "<Customer ID>";
                const cardId = "<Card ID>";

                try {
                    // リクエストの送信
                    const result = await fincode.cards.delete(customerId, cardId);
                } catch (e) {
                    // エラーの処理
                }
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\tcardID := \"<Card ID>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"DELETE\",\n\t\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards/%s\", customerID, cardID),\n\t\tnil,\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $customerId = '<Customer ID>';
            $cardId = '<Card ID>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers/{$customerId}/cards/{$cardId}";
            $headers = [
                "Authorization: Bearer " . $apiKey,
            ];

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_CUSTOMREQUEST, 'DELETE');
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            customer_id = '<Customer ID>'
            card_id = '<Card ID>' 

            url = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
            }

            try:
                response = requests.delete(url, headers=headers)

                # レスポンスの処理
                if response.status_code == 200:
                    # APIからのデータを処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'

            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                customer_id = '<Customer ID>'
                card_id = '<Card ID>'

                endpoint = "/v1/customers/#{customer_id}/cards/#{card_id}"

                uri = URI.parse(BASE_URL + endpoint)
                uri.query = URI.encode_www_form(query_params)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                # リクエストの作成
                request = Net::HTTP::Delete.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
  /v1/cards:
    get:
      security:
        - Secret-Bearer-Auth: []
        - Secret-Basic-Auth: []
      tags:
        - カード
      operationId: retrieveCardList
      summary: カード 一覧取得（顧客情報共有グループ単位）
      description: |
        顧客情報共有グループ単位でカード情報を一覧取得する API
      parameters:
        - in: query
          name: クエリ
          description: |
            カード情報の一覧取得において検索条件となるクエリパラメータ
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/Pagination.QueryParams'
              - $ref: '#/components/schemas/Card.ListRetrieving.QueryParams'
        - in: header
          name: Tenant-Shop-Id
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客情報共有グループのカード情報から一覧で取得します。
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card.ListRetrieving.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X GET \
                -H "Authorization:Bearer <Secret API Key>" \
            'https://api.test.fincode.jp/v1/cards?limit=10&page=1&customer_id=<Customer ID>'
        - lang: node
          label: Node.js
          source: |
            import fetch from "node-fetch";

            const BASE_URL = "https://api.test.fincode.jp";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const endpoint = new URL(`${BASE_URL}/v1/cards`);
                endpoint.search = new URLSearchParams({
                    limit: "10",
                    page: "1",
                    customer_id: "<Customer ID>",
                }).toString();

                const response = await fetch(endpoint, {
                    method: "GET",
                    headers: {
                        Authorization: `Bearer ${API_KEY}`,
                    },
                });
                const cards = await response.json();
            })();
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\"GET\", \"https://api.test.fincode.jp/v1/cards\", nil)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\tparams := req.URL.Query()\n\tparams.Add(\"limit\", \"10\")\n\tparams.Add(\"page\", \"1\")\n\tparams.Add(\"customer_id\", \"<Customer ID>\")\n\treq.URL.RawQuery = params.Encode()\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n"
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/cards";
            $queryParams = [
                "limit" => 10,
                "page" => 1,
                "customer_id" => '<Customer ID>',
            ];

            $headers = [
                "Authorization: Bearer " . $apiKey,
            ];

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . '?' . http_build_query($queryParams));
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_HTTPGET, true);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
            // curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );

            $response = curl_exec($session);

            if ($response === false) {
                # エラー処理
                echo "cURL Error: " . curl_error($session);
            } else {
                # APIからのデータを処理
                var_dump($response);
            }

            curl_close($session);
        - lang: python
          label: Python 3
          source: |
            import requests

            api_key = '<Secret API Key>'

            url = f'https://api.test.fincode.jp/v1/cards'

            # ヘッダーを設定
            headers = {
                'Authorization': f'Bearer {api_key}',
            }
            query_params = {
                'limit': 10,
                'page': 1,
                'customer_id': '<Customer ID>',
            }

            try:
                response = requests.get(url, headers=headers, params=query_params)

                # レスポンスの処理
                if response.status_code == 200:
                    # APIからのデータを処理
                    print(f"Success: {response.json()}")
                else:
                    # エラーの処理
                    print(f"Error: {response.json()}")
            except requests.RequestException as e:
                # 通信エラーの処理
                print(f"Request error: {e}")
        - lang: ruby
          label: Ruby
          source: |
            require 'net/http'
            require 'uri'

            API_KEY = '<Secret API Key>'
            BASE_URL = 'https://api.test.fincode.jp'

            def main
                endpoint = "/v1/cards"
                query_params = {
                    limit: 10,
                    page: 1,
                    customer_id: '<Customer ID>'
                }

                uri = URI.parse(BASE_URL + endpoint)
                uri.query = URI.encode_www_form(query_params)

                http = Net::HTTP.new(uri.host, uri.port)
                http.use_ssl = true

                # リクエストの作成
                request = Net::HTTP::Get.new(uri.request_uri)
                request['Authorization'] = "Bearer #{API_KEY}"

                # リクエストの送信
                response = http.request(request)

                case response
                when Net::HTTPSuccess
                    puts 'SUCCESS'
                else
                    puts 'ERROR'
                end

                # レスポンスの表示
                puts response.body
            end

            main
  /v1/customers/{customer_id}/payment_methods:
    post:
      security:
        - Secret-Bearer-Auth: []
        - Public-Bearer-Auth: []
        - Secret-Basic-Auth: []
      operationId: createCustomerPaymentMethod
      tags:
        - 決済手段
      summary: 決済手段 登録
      description: |
        `customer_id`で指定した顧客に対し、決済手段を登録します。
      parameters:
        - name: customer_id
          in: path
          description: 顧客ID
          schema:
            allOf:
              - $ref: '#/components/schemas/CustomerId_schema'
          required: true
        - name: Tenant-Shop-Id
          in: header
          schema:
            allOf:
              - $ref: '#/components/schemas/schema'
          description: |
            <span class="smallText color--red-400">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\
            テナントショップID。\
            このテナントショップに紐づく顧客のうち、指定したIDの顧客に対して決済手段を登録します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentMethod.Creating.Request'
      responses:
        '200':
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentMethod.Creating.Response'
        '400':
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FincodeAPIError.Response'
      x-code-samples:
        - lang: curl
          label: cURL
          source: |
            curl \
                -X POST \
                -H "Authorization:Bearer <Secret API Key>" \
                -H "Content-Type: application/json" \
                -d '{
                "pay_type": "Directdebit",
                "default_flag": "1",
                "return_url": "https://your-service.example.com/return",
                "directdebit":  {
                    "application_type": "ONLINE",
                    "bank_code": "0310",
                    "branch_code": "000",
                    "account_type": "1",
                    "account_number": "0999999",
                    "account_name_kana": "ナマエカナ"
                }
            }' \
            'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'
        - lang: go
          label: Go
          source: "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"log\"\n\t\"net/http\"\n)\n\nfunc main() {\n\n\tapiKey := \"<Secret API Key>\"\n\n\tcustomerID := \"<Customer ID>\"\n\n\tbody := CreatingPaymentMethodRequest{\n\t\tPayType:     \"Directdebit\",\n\t\tDefaultFlag: \"1\",\n\t\tReturnURL:   \"https://your-service.example.com/return\",\n\t\tDirectdebit: Directdebit{\n\t\t\tApplicationType: \"ONLINE\",\n\t\t\tBankCode:        \"0310\",\n\t\t\tBranchCode:      stringPointer(\"000\"),\n\t\t\tAccountType:     stringPointer(\"1\"),\n\t\t\tAccountNumber:   stringPointer(\"0999999\"),\n\t\t\tAccountNameKana: \"ナマエカナ\",\n\t\t},\n\t}\n\n\tmarshalledBody, _ := json.Marshal(body)\n\n\turl := fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods\", customerID)\n\n\t// リクエストの作成\n\treq, _ := http.NewRequest(\n\t\t\"POST\",\n\t\turl,\n\t\tbytes.NewBuffer(marshalledBody),\n\t)\n\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\t// リクエストの送信\n\tclient := &http.Client{}\n\tres, err := client.Do(req)\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\tdefer res.Body.Close()\n\n}\n\ntype CreatingPaymentMethodRequest struct {\n\tPayType     string      `json:\"pay_type\"`\n\tDefaultFlag string      `json:\"default_flag\"`\n\tDirectdebit Directdebit `json:\"directdebit\"`\n\tReturnURL   string      `json:\"return_url\"`\n}\n\ntype Directdebit struct {\n\tApplicationType  string            `json:\"application_type\"`\n\tBankCode         string            `json:\"bank_code\"`\n\tBranchCode       *string           `json:\"branch_code,omitempty\"`\n\tAccountType      *string           `json:\"account_type,omitempty\"`\n\tAccountNumber    *string           `json:\"account_number,omitempty\"`\n\tAccountName      *string           `json:\"account_name,omitempty\"`\n\tAccountNameKana  string            `json:\"account_name_kana\"`\n\tPaperApplication *PaperApplication `json:\"paper_application,omitempty\"`\n}\n\ntype PaperApplication struct {\n\tPostalAccountNumber1 *string `json:\"postal_account_number_1,omitempty\"`\n\tPostalAccountNumber2 *string `json:\"postal_account_number_2,omitempty\"`\n\tRequestFormId        string  `json:\"request_form_id\"`\n}\n\nfunc stringPointer(s string) *string {\n\treturn &s\n}\n"
        - lang: node
          label: Node.js
          source: |
            import fetch from "node-fetch";

            const BASE_URL = "https://api.test.fincode.jp";

            const API_KEY = "<Secret API Key>";

            (async () => {
                const customerId = "<Customer ID>";

                const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods`;

                const response = await fetch(endpoint, {
                    method: "POST",
                    headers: {
                        Authorization: `Bearer ${API_KEY}`,
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        pay_type: "Directdebit",
                        default_flag: "1",
                        return_url: "https://your-service.example.com/return",
                        directdebit: {
                            application_type: "ONLINE",
                            bank_code: "0310",
                            branch_code: "000",
                            account_type: "1",
                            account_number: "0999999",
                            account_name_kana: "ナマエカナ",
                        },
                    }),
                });
                const paymentMethods = await response.json();
            })();
        - lang: php
          label: PHP
          source: |
            <?php

            $apiKey = '<Secret API Key>';

            $customerId = '<Customer ID>';

            $baseUrl = "https://api.test.fincode.jp";
            $endpoint = "/v1/customers/{$customerId}/payment_methods";
            $headers = [
                "Authorization: Bearer " . $apiKey,
                "Content-Type: application/json"
            ];

            $data = json_encode([
                "pay_type" => "Directdebit",
                "default_flag" => "1",
                "return_url" => "https://your-service.example.com/return",
                "directdebit" => [
                    "application_type" => "ONLINE",
                    "bank_code" => "0310",
                    "branch_code" => "000",
                    "account_type" => "1",
                    "account_number" => "0999999",
                    "account_name_kana" => "ナマエカナ"
                ]
            ]);

            $session = curl_init();
            curl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);
            curl_setopt($session, CURLOPT_HTTPHEADER, $headers);
            curl_setopt($session, CURLOPT_POST, true);
            curl_setopt($session, CURLOPT_POSTFIELDS, $data);
            curl_setopt($session, CURLOPT_RETURNTRANSFER, true);
            // curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );
[...]
